#header {
    background: #7db9e8;
    background: -moz-linear-gradient(-45deg, rgba(61, 141, 209,0.96) 0%, rgba(125,185,232,0.93) 100%), url("/Content/images/headers/home.jpg");
    background: -webkit-linear-gradient(-45deg, rgba(61, 141, 209,0.96) 0%,rgba(125,185,232,0.93) 100%), url("/Content/images/headers/home.jpg");
    background: linear-gradient(135deg, rgba(61, 141, 209,0.96) 0%,rgba(125,185,232,0.93) 100%), url("/Content/images/headers/home.jpg");
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61a375a', endColorstr='#e67db9e8',GradientType=1 );
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    border-top: 0;

    &.team-header {
        background: -moz-linear-gradient(-45deg, rgba(61, 141, 209,0.95) 0%, rgba(125,185,232,0.95) 100%), url("/Content/images/headers/chocolatey-staff.jpg");
        background: -webkit-linear-gradient(-45deg, rgba(61, 141, 209,0.95) 0%,rgba(125,185,232,0.95) 100%), url("/Content/images/headers/chocolatey-staff.jpg");
        background: linear-gradient(135deg, rgba(61, 141, 209,0.95) 0%,rgba(125,185,232,0.95) 100%), url("/Content/images/headers/chocolatey-staff.jpg");
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61a375a', endColorstr='#e67db9e8',GradientType=1 );
    }

    &.community-header {
        background: -moz-linear-gradient(-45deg, rgba(61, 141, 209,0.75) 0%, rgba(125,185,232,0.85) 100%), url("/Content/images/headers/web.jpg");
        background: -webkit-linear-gradient(-45deg, rgba(61, 141, 209,0.75) 0%,rgba(125,185,232,0.85) 100%), url("/Content/images/headers/web.jpg");
        background: linear-gradient(135deg, rgba(61, 141, 209,0.75) 0%,rgba(125,185,232,0.85) 100%), url("/Content/images/headers/web.jpg");
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61a375a', endColorstr='#e67db9e8',GradientType=1 );
    }

    &.profile-header {
        height: 200px;
    }

    &.c4b-header {
        background: -moz-linear-gradient(-45deg, rgba(92, 159, 216, 0.8) 0%, rgba(92, 159, 216, 0.8) 100%), url("/Content/images/headers/c4b-banner.jpg");
        background: -webkit-linear-gradient(-45deg, rgba(92, 159, 216, 0.8) 0%,rgba(92, 159, 216, 0.8) 100%), url("/Content/images/headers/c4b-banner.jpg");
        background: linear-gradient(135deg, rgba(92, 159, 216, 0.8) 0%,rgba(92, 159, 216, 0.8) 100%), url("/Content/images/headers/c4b-banner.jpg");
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61a375a', endColorstr='#e67db9e8',GradientType=1 );
    }
}