body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

aside {
    z-index: 9999 !important;
}

.profile-packages a {
    color: $gray-900;
    font-weight: $font-weight-normal;
}

a {
    font-weight: $font-weight-bold;
    transition: 0 .5s;
}

q {
    display: inline-block;
}

.sticky-top:not(th):not(tr):not(.sticky-nav):not(.c4b-nav) {
    top: 1rem;
}
#docs .docs-left .sticky-top {
    top: 0;
}

/*Code*/
code:not([class*="language-"]) {
    background: white;
    padding: .2em;
    border-radius: .3em;
    border: 1px solid $gray-300;
}

/*Scrollbars*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0,0,0,.1)
}

/*Buttons*/
.btn:not(.btn-sm) {
    white-space: nowrap;
    width: 100%;
}

.btn:not(.btn-preferences) + .btn:not(.btn-sm):not(.btn-docs) {
    margin-top: 1rem;
}

.btn-link:hover {
    text-decoration: underline;
}

.btn-secondary {
    &.btn-twitter {
        background: #00aced;
        border-color: #00aced;

        &:hover, &:focus, &:active, &:active:focus {
            background: darken(#00aced, 15%);
            border-color: darken(#00aced, 15%);
        }
    }

    &.btn-github {
        background: #24292e;
        border-color: #24292e;

        &:hover, &:focus, &:active, &:active:focus {
            background: darken(#24292e, 15%);
            border-color: darken(#24292e, 15%);
        }
    }

    &.btn-stackexchange {
        background: #242729;
        border-color: #242729;

        &:hover, &:focus, &:active, &:active:focus {
            background: darken(#242729, 15%);
            border-color: darken(#242729, 15%);
        }
    }
}

/*Backgrounds & Text*/
.bg-medium-light {
    background: $medium-light;
}

.bg-dark:not(.navbar) a:not(.btn), .bg-medium-dark, .bg-primary, .bg-medium, .bg-primary a:not(.btn), .bg-medium:not(.navbar) a:not(.btn), footer li a, footer h3 {
    color: $white;
}

.bg-medium-dark {
    background: $medium-dark;
    /*border-top: 4px solid #21446d;*/
}

.bg-medium {
    background: $medium;
}

#editions ul li a, .sticky-nav a {
    color: $dark;
}

footer.bg-medium-dark a:hover, #editions ul li a:hover, .sticky-nav a.active {
    color: $primary;
}

/*Alerts and Cookies Notifications*/
.alert {
    z-index: 2;
}

.alert-primary .alert-link {
    color: $primary;
    text-decoration: underline;
}

.alert-dismissible .close {
    padding: 0;
    right: 10px;
    height: 100%;
}

.cookies-popup {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 9999;
}

.gitter-chat-embed {
    z-index: 9999;
}

.modal {
    background: rgba(0,0,0,.7);
    overflow: auto;
    z-index: 9999;
}

.modal .modal-footer button.close {
    color: $white;
    background-color: $secondary;
    border-color: $secondary;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    opacity: 1;
}

.modal .modal-footer button.close:hover, .modal .modal-footer .close:not(:disabled):not(.disabled):hover, .modal .modal-footer .close:not(:disabled):not(.disabled):focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background: #fff;
    border: 1px solid #80bdff;
    outline: 0;
    -webkit-text-fill-color: #202f3c;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

input[type="text"]:disabled, .video-story div[data-toggle]:hover {
    cursor: pointer;
}

/*Copy Boxes with Prepend Item*/
.input-group {
    .input-group-prepend {
        .input-group-text {
            background: white;
            padding-right: 0;
            border-right: 0;
        }

        + input {
            border-left: none;
            padding-left: .25rem;
        }
    }
}

/*Header*/
#header {
    border-top: 1px solid rgba(255,255,255,.2);
}

/*Curve*/
.shape-border {
    position: relative;
    overflow: hidden;
    height: 80px;
}

.shape-border:before {
    border-radius: 100%;
    position: absolute;
    right: -200px;
    left: -200px;
    content: '';
}

.shape-border-bottom::before {
    background: $light;
    bottom: -200px;
    top: 0;
}

.shape-border-top::before {
    background: $white;
    top: -200px;
    bottom: 0;
}

.shape-border-white::before, .shape-border-white .shape-border::before {
    background: $white;
}

.shape-border-light::before, .shape-border-light .shape-border::before {
    background: $light;
}

/*Terminal*/
#terminal .maximize {
    border: 2px solid;
    height: .78em;
    width: .78em;
}

#terminal .terminal-body {
    height: 90px;
}

/*Home Page*/
.carousel-section1 {
    padding-bottom: 250px;
}

.carousel-section2 {
    margin-top: -300px;
}

.carousel-section3 img {
    max-height: 75px;
    max-width: 125px;
}

/*Random Borders*/
.border-hr {
    border: 3px solid $blue;
    width: 50px;
    margin-left: 0;
    border-radius: $border-radius;
}

/*Load More/Show Less*/
#showLess {
    display: none;
}

/*Collapse*/
a + .collapse.show, a + .collapsing {
    margin-left: 30px;
}

/*Account Overview*/
#generateKey pre.language-powershell {
    white-space: normal;
}

.table .thead-dark th {
    border-color: $primary;
    background: $primary;
    color: $white;
}

/*Copy Code Box*/
.copyBox {
    max-width: 800px;
}

/*Careers Img Grid*/
.img-grid {
    border-radius: $border-radius;

    [class*="col-"] {
        &:first-child div img {
            border-top-left-radius: $border-radius;
        }

        &:nth-child(3) div img {
            border-top-right-radius: $border-radius;
        }

        &:nth-child(4) {
            border-bottom-left-radius: $border-radius;
        }

        &:nth-child(6) {
            border-bottom-right-radius: $border-radius;
        }
    }
}

/*Switches*/
.custom-switch .custom-control-label::after {
    top: 2px;
}

/*z-index*/
.z-index-1 {
    z-index: 1;
}
.z-index-2 {
    z-index: 2;
}
/*Footer*/
footer {
    border-top: 5px solid $primary;
    background: $medium-dark;
}

@media (min-width: 576px) {
    #terminal .terminal-body {
        height: 300px;
    }
    
    .btn:not(.btn-sm) {
        width: auto;
    }

    .btn:not(.btn-preferences) + .btn:not(.btn-sm):not(.btn-docs) {
        margin-top: 0;
    }
}

@include media-breakpoint-up(lg) {
    .copyBox {
        max-width: 550px;
    }

    .modal.fade .modal-dialog:not(.modal-dialog-centered) {
        transform: translate(0,50%);
    }

    .divider-row [class*=col-]:not(:last-child) {
        border-right: 1px solid #ced4da;
    }

    .divider-row [class*=col-] {
        padding: 0 2rem;
    }
}