/*Callouts*/
[class*="callout-"], blockquote {
    padding: 1rem;
    margin-bottom: 1rem;
    background: $white;
    box-shadow: $box-shadow-sm;
    position: relative;
    border-left: 6px solid;
    font-size: $font-size-base !important;
}

[class*="callout-"]:not(.callout):not(blockquote) {
    padding: .5rem 1rem;
    box-shadow: none;
}

[class*="callout-"] p:last-child, blockquote p:last-child {
    margin-bottom: 0;
}

.callout-secondary, blockquote {
    border-color: $secondary;
}

.callout-warning {
    border-color: $warning;
}

.callout-danger {
    border-color: $danger;
}

.callout-primary {
    border-color: $primary;
}

.callout-success {
    border-color: $success;
}