/* Apply to all Carousels*/
.carousel {
    height: 100%;

    .carousel-indicators li {
        height: 20px;
        width: 20px;
        border: 0;
        border-radius: 100%;
    }

    .carousel-inner {
        overflow: visible;
        height: 100%;

        .carousel-item {
            display: block;
            height: 100%;

            .card {
                height: 100%;
            }

            img {
                width: 100%;
            }
        }
    }

    .fa-chevron-left, .fa-chevron-right {
        font-size: 2rem;
    }
}

/* Apply to testimonial carousel */
.carousel.testimonial-carousel {

    .card {

        img {
            max-width: 100px;
            margin-bottom: 1rem;
        }
    }
}

/* Apply to informational carousel */
.carousel.information-carousel {
    margin-bottom: 0rem;

    .carousel-indicators {
        z-index: 1;
    }

    .carousel-control-next, .carousel-control-prev {
        top: unset;
    }

    .carousel-inner .carousel-item > div {
        margin: 0 -15px 65px -15px;
    }
}

/* Apply to carousel on colored background */
.carousel-dark {

    .carousel-control-next, .carousel-control-prev {
        color: $white;
    }
}

@include media-breakpoint-up(md) {
    .carousel.testimonial-carousel .carousel-inner .carousel-item > div {
        width: 75%;
        margin: 0 auto;
    }
}

@include media-breakpoint-up(xl) {s

    .carousel.testimonial-carousel {

        .card {

            img {
                margin-bottom: 0;
                max-width: 250px;
            }
        }
    }
}