.card {
    box-shadow: $box-shadow;

    .card-body, .card-footer {
        p:last-child {
            margin-bottom: 0;
        }
    }
}

.card-row {
    &.card-bio {
        .card {
            max-width: 350px;

            .card-body .card-overlay {
                display: none;

                p {
                    display: none;
                }
            }
        }
    }

    a {

        .card {
            transition: all 0.3s ease;
        }

        .card:hover {
            -webkit-transform: scale(0.98);
            -ms-transform: scale(0.98);
            transform: scale(0.98);
        }

        p {
            color: $gray-900;
            font-weight: $font-weight-normal;
        }
    }
}

.card-bio, .card-bio .card-header img.rounded-circle {
    margin-top: -64px;
}

@include media-breakpoint-up(md) {
    .card-row {
        &.card-bio {
            .card {
                .card-body .card-overlay {
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    border-top-left-radius: 0.25rem;
                    border-top-right-radius: 0.25rem;
                    transition: .5s ease;
                    background-color: rgba(61, 141, 209, 0.9);

                    p {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                    }
                }

                &:hover .card-body .card-overlay {
                    opacity: 1;
                }
            }
        }
    }
}