.fa-question-circle:hover {
    cursor: pointer;
}

.fa-angle-right {
    margin-left: .5rem;
}

.fa-asterisk, .form-field .fa-question-circle {
    color: $primary;
}

.fa-asterisk {
    font-size: .55em;
    font-weight: 900;
}

a[data-toggle="collapse"]:not(.collapse-nav), .docs-left button.navbar-toggler[data-toggle="collapse"], .module-left button.navbar-toggler[data-toggle="collapse"] {
    &::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-angle-down);
        margin-right: .5rem;
    }
}

a[data-toggle="collapse"].collapsed:not(.collapse-nav), .docs-left button.navbar-toggler[data-toggle="collapse"].collapsed, .module-left button.navbar-toggler[data-toggle="collapse"].collapsed {
    &::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-angle-right);
        margin-right: .5rem;
    }
}

.course-list li.completed, .course-list li.mod-completed, .correct, .step_tabs li.step_inactive {
    &::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-check);
        text-align: center;
    }
}

.wrong {
    &::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-times);
        text-align: center;
    }
}

#get-involved li a {
    &::after {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-angle-right);
        margin-left: .5rem;
    }
}

.rating > label, .rating li, .list-circle li.list-circle-fa-star {
    &::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-star);
    }
}

.list-circle li.list-circle-fa-cogs {
    &::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-cogs);
    }
}

.list-circle li.list-circle-fa-users {
    &::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-users);
    }
}

.list-circle li.list-circle-fa-user-lock {
    &::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-user-lock);
    }
}

.list-circle li.list-circle-fa-paper-plane {
    &::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-paper-plane);
    }
}

.list-circle li.list-circle-fa-edit {
    &::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-edit);
    }
}

.list-curve p:first-child {
    &::after {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-angle-up);
    }
}

.list-curve p:not(:last-child) {
    &::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-times);
    }
}

.list-curve p:last-child {
    &::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-check);
    }
}

#topNav .navbar-collapse .dropdown-toggle, .list-curve p:last-child {
    &::after {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-angle-down);
    }
}

#topNav {
    .navbar-collapse {
        .dropdown-toggle {
            &::after {
                position: absolute;
                top: 25%;
                color: $primary;
                opacity: 0;
                transition: 0.5s;
                border: none;
            }
        }
    }
}