.notice-text a {
    color: $white;
    font-size: 79%;

    &:hover {
        color: $medium-dark;
    }
}

#topNav {
    z-index: 9999;
    height: 66px;

    .navbar-brand img {
        height: 50px;
    }

    button {
        font-size: 1.2rem;
    }

    .nav-search {
        form {
            input,
            input:focus,
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
                background-color: $dark !important;
                border-color: $light;
                -webkit-text-fill-color: $light;
                -webkit-box-shadow: 0 0 0px 1000px $dark inset;
                caret-color: $light;
            }

            input {
                border-bottom-right-radius: .25rem !important;
                border-top-right-radius: .25rem !important;
                box-shadow: none;
            }

            .input-group-append {
                position: absolute;
                right: 1px;
            }

            button {
                border: 0;
                border-left: 1px solid $light;
                z-index: 999 !important;
                background: $dark !important;
                top: 1px;
                width: auto;
                color: $light;

                &:hover {
                    color: $primary;
                }

                + button {
                    margin-left: 0;
                }
            }
        }
    }

    .navbar-collapse {
        background: $white;
        box-shadow: $box-shadow;
        margin: .5rem -1rem;
        padding: .5rem 0;

        &.show {
            height: 100vh;
        }

        .nav-item:last-child {
            margin: .5rem 1rem;

            a {
                font-size: 1.2rem;
            }
        }

        .nav-link {
            padding: 0;
            margin: .5rem 1rem;
            color: $dark;
            transition: 0.5s;
            font-size: 1.2rem;
        }

        .nav-link:hover, .show > .dropdown-toggle {
            color: $primary;
        }

        .dropdown-toggle:hover:after, .show > .dropdown-toggle:after {
            opacity: 1;
        }

        .dropdown-menu {
            width: 100%;
            border: 0;
            position: fixed !important;
            margin-top: 0;
            border-radius: 0;
            box-shadow: $box-shadow;
            padding: .5rem 0;
            top: 99.5px;

            &.show {
                height: 100vh;
            }

            [class*=col-] {
                padding: 0 1rem;

                h4 {
                    margin-bottom: 0;
                }

                ul {
                    list-style: none;
                    padding-left: 0;

                    li {
                        margin: .5rem 0;

                        a {
                            transition: 0.5s;
                            font-size: 1.1rem;
                        }
                    }
                }
            }

            [class*=col-]:not(:last-child) {
                border-bottom: 1px solid #ced4da;
            }

            .col-12 {
                padding: .5rem 1rem;
            }
        }
    }
}

#secondaryNav {

    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: flex;

        li {
            padding: 0;
            text-align: center;
            display: flex;
            padding: 0 .5rem;

            .form-control {
                border-color: $primary;
            }

            a:not(.btn), .btn-link {
                display: flex;
                flex-direction: column;

                span:nth-child(1) {
                    font-size: 1.5rem;
                }

                span:nth-child(2), span:nth-child(3) {
                    font-size: 80%;
                }
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .notice-text a {
        font-size: 100%;
    }

    #topNav {
        height: 79px;

        .navbar-brand img {
            height: 63px;
        }

        .nav-search form input {
            width: 375px;
        }
    }

    #secondaryNav {

        ul {

            li {
                padding: 0 .75rem;
            }
        }
    }

    #secondaryNav.c4b-nav {
        .btn {
            position: absolute;
            right: 1rem;
        }
    }
}

@include media-breakpoint-up(md) {
    #topNav {
        .nav-search form input {
            width: 550px;
        }

        .navbar-collapse {

            &.show {
                height: auto;
            }

            .dropdown-menu {
                top: 94px;
                padding: 1rem 0;

                [class*=col-] {
                    border-bottom: 0 !important;
                }

                [class*=col-]:not(:last-child):not(:first-child) {
                    border-right: 1px solid #ced4da;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    #topNav {
        padding: 1.5rem;
        height: 92px;

        .navbar-brand {
            position: absolute;
            top: 17px;
            z-index: 9999;

            img {
                height: 119px;
            }
        }

        .nav-search {
            position: absolute;
            right: 155px;
            width: 62%;

            form input {
                width: 100%;
            }

            .btn-search {
                position: absolute;
                right: 0;
            }
        }

        .navbar-collapse {
            background: $dark;
            box-shadow: none;
            margin: 0;
            padding: 0;

            .nav-item:last-child {
                margin: 0;
                position: absolute;
                right: 1.5rem;
            }

            .nav-link {
                padding: .5rem .7rem;
                color: $white;
                margin: 0;
                font-size: 1rem;
            }

            .dropdown-menu {
                padding: 3rem 0;

                &.show {
                    height: auto;
                }

                [class*=col-] {
                    padding: 0 2rem;

                    ul {

                        li {
                            margin: 1rem 0;
                        }
                    }
                }
            }
        }
    }

    #secondaryNav.c4b-nav {
        .btn {
            position: absolute;
            right: 1.5rem;
        }
    }
}

@include media-breakpoint-up(xl) {
    #topNav {
        .navbar-collapse {
            .nav-link {
                padding: .5rem 1.25rem;
                font-size: 1.2rem;
            }
        }
    }
}

@media (min-width: 1900px) {
    #topNav {
        .nav-search {
            width: 22%;
        }
    }
}