.gsc-control-cse, .gsc-control-cse .gsc-table-result {
    font-family: $font-family-sans-serif !important;
    font-size: $font-size-base !important;
    font-weight: $font-weight-normal !important;
    line-height: $line-height-base !important;
    color: $dark !important;
}

.gsc-result-info-container {
    display: none !important;
}

.gsc-orderby-container {
    text-align: left !important;
}

.gsc-control-cse, .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult, .gsc-webResult.gsc-result:hover, .gsc-imageResult:hover, .gsc-results .gsc-cursor-box .gsc-cursor-page {
    border: none !important;
    background: none !important;
}

.gsc-above-wrapper-area {
    border-bottom: none !important;
}

.cse .gsc-control-cse, .gsc-control-cse, .gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top, .gsc-result-info {
    padding: 0 !important;
}

.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
    font-size: $font-size-lg !important;
    line-height: $line-height-base !important;
}

.gs-webResult.gs-result a.gs-title:link b {
    color: darken($primary, 25%) !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page, .gs-webResult.gs-result a.gs-title:link, .gcsc-find-more-on-google {
    color: $primary !important;

    &:hover {
        color: darken($primary, 15%) !important;
        border-bottom: 1px solid darken($primary, 15%) !important;
    }
}

.gcsc-find-more-on-google-magnifier {
    fill: $primary !important;
}

.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
    color: $success !important;
}

.gs-result .gs-title, .gs-result .gs-title * {
    text-decoration: none !important;
}

.gsc-selected-option-container {
    font-size: $font-size-base !important;
    font-weight: $font-weight-normal !important;
    background-image: none !important;
    background-color: $white !important;
    border-color: $primary !important;
}

.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet {
    background: $white !important;
    border: none !important;
    border-left: 6px solid $warning !important;
    box-shadow: $box-shadow-sm !important;
    padding: 1rem !important;
}

/*Search Box Specific */
.bg-primary .search-box input {
    border: 1px solid $light;
}

.search-box {
    input, button {
        font-size: 1.2rem;
    }

    input {
        &:focus,
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-box-shadow: none;
        }
    }

    &.search-packages .search-help {
        top: 100%;
        width: 100%;
        max-width: 539px;
        left: 0;
        right: 0;
        z-index: 1;

        .arrow-up {
            top: .25rem;
            left: .75rem;
            width: 0;
            height: 0;
            border-left: .75rem solid transparent;
            border-right: .75rem solid transparent;
            border-bottom: .75rem solid $white;
        }
    }
}

@include media-breakpoint-up(sm) {
    .gsc-result-info-container {
        display: table-cell !important;
        width: 250px !important;
    }
}