.status {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-right: .75rem;

    &.status-sm {
        height: 15px;
        width: 15px;
        margin-right: .5rem;

        span {
            border-top: 15px solid transparent;
            border-right: 15px solid;
        }
    }

    span {
        height: 0px;
        width: 0px;
        position: absolute;
        top: 0;
        right: 0;
        border-top: 30px solid transparent;
        border-right: 30px solid;
        /*Rotation*/
        &:nth-child(1) {
            transform: rotate(135deg);
        }

        &:nth-child(2) {
            transform: rotate(-45deg);
        }
        /*Status Colors*/
        &.Pending {
            border-right-color: $yellow;
        }

        &.Failing {
            border-right-color: $red;
        }

        &.Passing {
            border-right-color: $green;
        }

        &.Exempted, &.Unknown {
            border-right-color: $secondary;
        }
    }
}

#status h3 {
    line-height: 1.75rem;
}