.nav-tabs {
    border-bottom: 0;

    .nav-item:not(:first-child) {
        .nav-link {
            margin-left: .5rem;
        }

        > .btn {
            margin-top: 1rem;
        }
    }

    .nav-item .nav-link:not(.active) {
        border-color: $gray-200 $gray-200 $gray-300;
    }
}

.card-tabs {
    .nav-item {

        &:last-child > .btn {
            margin-bottom: .5rem;
        }

        .nav-link.active, .nav-link.active:hover, .nav-link.active:focus {
            box-shadow: 0 -0.01rem 0.25rem rgba(0,0,0,.075);
            border-color: transparent transparent white;
            position: relative;
        }
    }
}

.body-tabs .nav-tabs .nav-item .nav-link.active {
    background: $light;
    border-color: $gray-300 $gray-300 transparent;
}

.nav-pills-list .nav-item {
    &:not(:last-child) {
        border-right: 1px solid #ced4da;
    }

    .nav-link {
        color: #202f3c;

        &.active {
            background: none;
            color: #5c9fd8;
            text-decoration: underline;
        }
    }
}

@include media-breakpoint-up(sm) {
    .nav-tabs {
        border-bottom: 1px solid #dee2e6;
    }
}
