/*Tooltips*/
.bs-tooltip-top {
    top: -8px !important;
    left: 4px !important;
}

.bs-tooltip-top .arrow {
    bottom: -6px;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    background-color: #3d8dd1;
    border-radius: .25rem;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 5px 5px 0;
    border-top-color: #3d8dd1;
}

/*Invisible Input*/
.invisible-input {
    display: none;
}

/*Transitions*/
.fade {
    transition: opacity .15s linear;

    &:not(.show) {
        opacity: 0;
    }
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
}