#account .logo {
    max-width: 200px;
    transform: translateY(.10em) rotate(10deg) scale(1) translateX(0);
    margin-top: 10px;
}
#account:not(.edit-profile) label:not(.checkbox), .field-hint-message, #account .field-validation-error {
    font-size: 80%;
}
#account input:not(.btn):not(.check-box):not(.form-control):not([type="radio"]), textarea, #MessageTo {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border-radius: .25rem;
    border: 1px solid #81b5e2;
}
#account textarea {
    padding: 1rem;
    font-size: 100%;
    height: 100%;
}
#account #Email:not(#account.contact #Email) {
    max-width: 530px;
    display: block;
}
#account:not(.edit-profile) label:not(.checkbox):not(.input-group-btn):not([for="NonProfitYes"]):not([for="NonProfitNo"]) {
    margin-top: 1rem;
    margin-bottom: .3rem;
}
#account .field-hint-message {
    display: none;
}
#account .validation-summary-errors ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 0;
}
#account .validation-summary-errors ul li {
    padding-left: 1rem;
    border-left: 6px solid #f4516c;
}
#account .validation-summary-errors ul li:not(:first-child) {
    margin-top: .5rem;
}
#account .validation-summary-errors ul li, #account .field-hint-message, #account .field-validation-error, #account .was-validated .form-check-input:invalid ~ .form-check-label {
    color: #f4516c;
}
#account .validation-summary-errors ul li, #account .field-hint-message, #account .field-validation-error {
    font-weight: bold;
}
#account .input-validation-error {
    border: 1px solid #f4516c !important;
}
#account input .valid {
    border: 1px solid #36bc98 !important;
}
#account .was-validated .form-check-input:valid ~ .form-check-label {
    color: #202f3c;
}
/*Account- Edit Profile & Checkbox styling*/
#account .checkbox, #account .form-check label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
#account .checkbox input, #account .form-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
#account .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #e9ecef;
}
/* On mouse-over, add a grey background color */
#account .checkbox:hover input ~ .checkmark, #account .form-check:hover .checkmark:not(.checked) {
    background-color: #cce5ff;
}
/* When the checkbox is checked, add a blue background */
#account .checkbox input:checked ~ .checkmark, #account .form-check .checked {
    background-color: #5c9fd8;
}
/* Create the checkmark/indicator (hidden when not checked) */
#account .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
#account .checkbox input:checked ~ .checkmark:after, #account .form-check .checked:after {
    display: block;
}
/* Style the checkmark/indicator */
#account .checkbox .checkmark:after, #account .form-check .checked:after {
    left: 10px;
    top: 6px;
    width: 5px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*Step Counter Tabs*/
.step_tabs {
    counter-reset: step;
}
.step_tabs li:first-child:nth-last-child(3),
.step_tabs li:first-child:nth-last-child(3) ~ li {
    width: 30.3333%;
}
.step_tabs li {
    list-style: none;
    display: inline-block;
    position: relative;
    text-align: center;
}
.step_tabs li p {
    font-weight: 600;
}
.step_tabs li:before {
    content: counter(step);
    counter-increment: step;
    width: 60px;
    height: 60px;
    line-height: 58px;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.step_tabs li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #ddd;
    top: 26px;
    left: -50%;
}
.step_tabs li:first-child:after {
    content: none;
}
.step_tabs li.step_active,
.step_tabs li.step_inactive,
.step_tabs li.step_active p,
.step_tabs li.step_inactive p {
    color: #36bc98;
}
.step_tabs li.step_active:before {
    border-color: #36bc98;
}
.step_tabs li.step_inactive:before {
    border-color: #36bc98;
    background-color: #36bc98;
    color: #fff;
    font-size: 30px;
    line-height: 60px;
}
.step_tabs li.step_inactive + li:after {
    background-color: #36bc98;
}
/*Input File*/
.type-file .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.type-file .form-control {
    max-width: 350px;
    background: white;
}
#account.upload-package .validation-summary-errors ul {
    margin-top: 0;
    margin-bottom: 1rem;
}