/*Form- Filters on Packages Page*/
.form-field label {
    color: #21446d !important;
}
/*Package Overview*/
.badge-orange {
    background: #fd7e14
}
.badge-purple {
    background: #6f42c1;
    color: white;
}
.badge-outline-primary {
    background: white;
    border: 1px solid #5c9fd8;
}
/*Package List View*/
.package-list-view .package-image-header {
    width: 50px;
}
.package-list-view li:last-child hr {
    display: none;
}
/*Package Grid View*/
.package-grid-view .package-image-header {
    width: 35px;
}
.package-grid-view .media-body > :nth-child(2) {
    margin-left: -50px;
}
/*Pagination*/
ul.pager li.previous {
    border-right: solid 1px #1a375a;
}
/*Individual Packages*/
textarea {
    padding: 1rem;
    width: 100%;
    font-size: 100%;
}
.d-label-none label {
    display: none;
}
#files pre {
    overflow: auto;
}
#files pre[class*="language-"].line-numbers.line-numbers code {
    overflow: visible;
    max-height: 500px;
}
/*Package Sidebar*/
#package-sidebar .package-logo {
    max-width: 40px;
}
#package-sidebar strong {
    font-weight: 600;
}
#package-sidebar img:not(.package-logo) {
    max-width: 100%;
}
/*Chat*/
.table-hover tbody tr[id*="divVersion"]:hover {
    background: none;
    color: initial;
}
.comments-list-container {
    max-height: 900px;
    overflow: auto;
}
.comments-list, .comments-list > span {
    display: flex;
    flex-flow: column;
}
.comments-list > span {
    background: #e2e3e5;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
    margin-bottom: 30px;
    max-width: 80%;
    padding: 15px;
    position: relative;
}
.chat-left {
    margin-right: auto;
}
.chat-right {
    margin-left: auto;
    align-items: flex-end;
}
.chat-right .comment-body {
    align-self: flex-start;
}
.chat-right::after, .chat-left::after {
    border-top: 20px solid #e2e3e5;
    bottom: -20px;
    content: "";
    position: absolute;
}
.chat-right::after {
    border-left: 20px solid transparent;
    right: 20px;
}
.chat-left::after {
    border-right: 20px solid transparent;
    left: 20px;
}
.btn-load-more:hover {
    cursor: pointer;
    opacity: .6;
}
.comments-list .comment-date {
    order: 3;
    font-size: 70%;
    font-weight: lighter;
    margin-bottom: 0;
    font-style: italic;
}
.comments-list p.comment-body {
    margin-bottom: 1rem;
}
/*Virus Scan Results*/
.list-virus-scan li {
    margin: 4px 0;
}
[class*="virus-scan-"] > span {
    padding: .05rem .6rem;
    margin-left: 2px;
    border-radius: 10rem;
    font-weight: bold;
}
.virus-scan-light > span {
    background: #ffc107;
}
.virus-scan-medium > span {
    background: #fd7e14;
}
.virus-scan-dark > span {
    background: #f4516c;
    color: #fff;
}

@media (min-width: 768px) {
    #package-sidebar .package-logo {
        max-width: 150px;
    }
}
@media (min-width: 992px) {
    .package-list-view .package-list-align {
        padding-left: 67px;
    }
}