/*Pricing- Tables*/
#compare table, #compare tbody {
    display: inline-block;
}
.table td, .table th {
    vertical-align: middle;
}
.fa-check, .plus strong {
    color: #36bc98;
}
.table td .fa-ban {
    color: #f4516c;
}
#compare tbody td, #faq-pricing tbody td, #faq-support-schedule tbody > tr td {
    text-align: center;
    width: 15%;
}
#compare tbody > tr > :nth-child(2), #compare tbody > tr > :nth-child(4), #editions .card .card-header p, #faq-support-schedule tbody > tr > :nth-child(even) {
    background: #e9ecef;
}
#compare tbody > tr > :nth-child(3), #compare tbody > tr > :nth-child(5), #faq-support-schedule tbody > tr > :nth-child(odd):not(:nth-child(1)) {
    background: #fff;
}
#compare thead > tr > :not(:nth-child(1)), #faq-pricing thead > tr > :not(:nth-child(1)), #faq-support-schedule thead > tr > :not(:nth-child(1)) {
    width: 15%;
    color: white;
    font-weight: bold;
    text-align: center;
}
#compare thead > tr :not(:nth-child(1)) {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
#compare thead {
    display: inline;
}

#compare tr {
    display: flex;
    flex-wrap: wrap;
}

#compare td, #compare th {
    display: block;
    flex: 1;
    font-size: 80%;
}

#compare tbody th {
    width: 100%;
    flex: auto;
}
#faq-support-schedule tbody > tr > :nth-child(2) {
    border-right: 1px solid #9b9ea1;
}
#compare thead > tr > :nth-child(2) {
    background: #2f6492;
}
#compare thead > tr > :nth-child(3), #faq-support-schedule thead > tr > :nth-child(2) {
    background: #1a375a;
}
#compare thead > tr > :nth-child(4) {
    background: #6c757d;
}
#compare thead > tr > :nth-child(5), #faq-support-schedule thead > tr > :nth-child(3) {
    background: #5c9fd8;
}
#faq-support-schedule tbody .sticky-top {
    top: 52px;
}
#faq-support-schedule tbody > tr:nth-child(1) > :nth-child(3) {
    background: #deebf7;
}
#faq-support-schedule tbody > tr:nth-child(1) > :nth-child(4) {
    background: #bdd8ef;
}
#faq-support-schedule tbody > tr:nth-child(1) > :nth-child(5) {
    background: #8cbbe3;
}
/*Pricing- Editions*/
#editions .card .card-header p {
    color: #202f3c;
}
#editions .card .card-body h1 {
    line-height: .75em;
}
#editions h6, #editions .h6 {
    font-weight: 600;
}
#editions .active h6:first-child {
    margin-left: -90px;
}
/*Documentation*/
.docs-left {
    border-right: none;
    z-index: 1;
}
.docs-left a, .docs-right a {
    color: #202f3c;
    line-height: 1.2rem;
    display: block;
    padding: .75rem;
}
.docs-right a {
    border-left: 1px solid #dee2e6;
}
.docs-left a:hover, .docs-right a:hover {
    opacity: 1 !important;
    background: #e6f3ff;
}
.docs-left a:not([data-toggle]), .docs-right a:not([data-toggle]) {
    font-weight: 500;
    font-size: 85%;
}
.docs-left li.active {
    background: #cce5ff;
}
.docs-left a + .collapse.show, .docs-left a + .collapsing {
    margin-left: 0;
}
#docs .docs-left ul, .docs-right ul {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0;
}
.docs-left .collapsing, .docs-right .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
#docs .docs-left li a, .docs-right li a {
    padding-left: 1.5rem;
}
.docs-right li ul li {
    margin-left: 1rem;
}
.docs-left li .collapse li a {
    padding-left: 2.5rem;
}
.docs-right .active a {
    border-left: 1px solid #5c9fd8;
}
.docs-left .navbar-collapse {
    height: 100vh;
}
/*Kickstarter- Sponsors*/
#sponsors .card .card-body img {
    max-width: 100%;
    max-height: 150px;
}
/*Blog- List*/
#blogList img {
    width: 100%;
}
/*Blog- Post*/
.post img {
    margin: 2px;
    padding: 5px;
}
.blogShare li {
    height: 28px;
}
/*Kickstarter- Sponsors*/
@media (min-width: 576px) {
    #sponsors .card .card-body {
        height: 300px;
    }
    #sponsors .card .card-body img {
        max-height: 250px;
        max-width: 100%;
    }
}
@media (min-width: 768px) {
    .docs-left .navbar-collapse {
        height: auto;
    }
    .docs-left {
        border-right: 1px solid #dee2e6;
    }
    .docs-left .navbar-nav {
        max-height: 100vh;
        overflow: auto;
    }

    #compare table {
        display: table;
    }
    #compare thead {
        display: table-header-group;
    }
    #compare thead > tr > :not(:nth-child(1)) {
        width: 15%;
        vertical-align: middle;
    }
    #compare tbody {
        display: table-row-group;
    }
    #compare tr {
        display: table-row !important;
    }
    #compare td, #compare th, #compare thead > tr > :not(:nth-child(1)) {
        display: table-cell;
        font-size: 100%;
    }
    #compare tbody th {
        width: auto;
    }
}
