@{
    ViewBag.Title = "Password Reset";
    Layout = "~/Views/Shared/MinimalLayout.cshtml";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Content/account.css");
    Bundles.Reference("Scripts");
    Bundles.Reference("Scripts/validation");
}

<h3 class="text-center">Password Reset Sent</h3>
<p>
    We've sent an email
    @if (!String.IsNullOrEmpty(ViewBag.Email))
    {
        @:to @ViewBag.Email
    }
    else
    {
        @:to you
    }
    containing a temporary url that will allow you to reset your password for
    the next @ViewBag.Expiration hours.
</p>
<p class="mb-0">
    Please check your spam folder if you don't receive the email within a
    few minutes.
</p>