@using System.Configuration
@{
    Layout = "~/Views/Shared/MinimalLayout.cshtml";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Content/account.css");
    Bundles.Reference("Scripts");
    Bundles.Reference("Scripts/validation");
}
<h3 class="text-center">Password Changed!</h3>
<p>Don't forget to use your new password the next time you log on!</p>
<div class="text-center">
    <a class="btn btn-primary mx-auto mt-3" href="@Url.Action("Account")" title="Back to Account">Back to Account</a>
</div>
