@model PasswordResetViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/MinimalLayout.cshtml";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Content/account.css");
    Bundles.Reference("Scripts");
    Bundles.Reference("Scripts/validation");
}

<h3 class="text-center">Forgot Password</h3>
<p><small>We are sorry to hear you forgot your password. Enter your email below and we will send instructions to reset your password.</small></p>
<hr class="mb-0" />
@using (Html.BeginForm())
{
    <fieldset class="form">
        <legend class="d-none">Register Form</legend>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.EditorForModel()
        <input class="btn btn-primary mx-auto mt-3 d-block" type="submit" value="Send" title="Send Instructions" />
        <p class="mb-0 mt-2 text-center"><small><a class="cancel" href="@Url.LogOn()" title="Cancel Changes and go back.">Cancel</a></small></p>
    </fieldset>
}