@{
    ViewBag.Title = "Company";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Scripts");
}

<section class="py-3 py-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center pb-4">Company</h1>
                <p>Coming Soon!</p>
            </div>
        </div>
    </div>
</section>

