@{
    ViewBag.Title = "Chocolatey for Business Registration Form";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Scripts");
}

<section class="container py-3 py-xl-5">
    <script type="text/javascript" src="https://form.jotform.com/jsform/91124580699162"></script>
</section>
