@{
    ViewBag.Title = "Notice";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Scripts");
}

<section class="py-3 py-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center pb-4">Notice</h1>
                <div class="callout callout-warning">
                    <p>Everything we've promised here is coming to fruition! See <a href="http://codebetter.com/robreynolds/2015/12/18/chocolatey-community-state-of-union/">Rob's post</a>!</p>
                </div>
                <div class="callout callout-secondary">
                    <p>For urgent issues (including packages that are security releases), please reach out to us immediately on <a href="https://gitter.im/chocolatey/choco">Gitter</a>.</p>
                </div>
                <ul>
                    <li>Adding in a service to automatically verify the install and uninstall of packages.</li>
                    <li>Adding some auto-moderation for things a computer can check in a package.</li>
                    <li>Adding more moderators</li>
                </ul>
            </div>
        </div>
    </div>
</section>