@{
    ViewBag.Title = "Use Cases";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Scripts");
}

<div id="header" class="bg-medium-dark">
    <section class="py-3 py-lg-5">
        <div class="container py-3 py-lg-5">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center">
                    <h1 class="display-3 text-center">Use Cases</h1>
                    <h5 class="mb-0">Whether you need to ensure your servers have the latest software, deliver developer desktops, provision to the cloud, automate software delivery or drive DevOps practices, we aim to help IT team move faster with less friction.</h5>
                </div>
            </div>
        </div>
    </section>
    <div class="shape-border shape-border-bottom"></div>
</div>
@*<section id="use-cases" class="pb-3 pb-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="row card-row">
                    <div class="col-lg-6 mb-4">
                        <a href="#server">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="text-center">
                                        <span class="fas fa-server display-1 text-primary"></span>
                                        <h3 class="text-center mb-0">Server</h3>
                                    </div>
                                    <p>
                                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque vitae rhoncus nisl, vel volutpat purus. Nullam sit amet metus tincidunt, dictum mauris ac, sagittis mi. Nullam non ex ac quam consectetur vestibulum.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <a href="#desktop">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="text-center">
                                        <span class="fas fa-desktop display-1 text-primary"></span>
                                        <h3 class="text-center mb-0">Desktop</h3>
                                    </div>
                                    <p class="mb-0">
                                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque vitae rhoncus nisl, vel volutpat purus. Nullam sit amet metus tincidunt, dictum mauris ac, sagittis mi. Nullam non ex ac quam consectetur vestibulum.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <a href="#cloud">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="text-center">
                                        <span class="fas fa-cloud display-1 text-primary"></span>
                                        <h3 class="text-center mb-0">Cloud / Containers</h3>
                                    </div>
                                    <p class="mb-0">
                                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque vitae rhoncus nisl, vel volutpat purus. Nullam sit amet metus tincidunt, dictum mauris ac, sagittis mi. Nullam non ex ac quam consectetur vestibulum.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <a href="#integrations">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="text-center">
                                        <span class="fas fa-cogs display-1 text-primary"></span>
                                        <h3 class="text-center mb-0">Integrations</h3>
                                    </div>
                                    <p class="mb-0">
                                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque vitae rhoncus nisl, vel volutpat purus. Nullam sit amet metus tincidunt, dictum mauris ac, sagittis mi. Nullam non ex ac quam consectetur vestibulum.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<section id="server" class="pb-3 pb-lg-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center">
                <span class="h3"><span class="fas fa-server fa-10x text-primary"></span></span>
            </div>
            <div class="col-lg-6">
                <h2>Server</h2>
                <hr class="border-hr" />
                <p>
                    Many IT teams still rely on manual configurations, custom scripts, golden images or outdated tools to manage Windows infrastructure. This results in errors and slow deployments, or worse - unpatched environments that leave you susceptible to security incidents.
                </p>
                <p>
                    From a server point of view you need to ensure a consistent, reliable approach without having manual intervention, and allowing you to run the businesses on the software and having to care, water, and feed the servers.
                    When you get to the world of cloud and containers this is only amplified as you are managing the unknown.
                </p>
                <p>Chocolatey provides a standardized, scalable approach to server management. From setting up a new server, to ensuring critical updates are in place, or supporting a migration project.</p>
                <p>Check back later for detailed use cases!</p>
            </div>
        </div>
    </div>
</section>
<section id="desktop" class="py-3 py-lg-5 bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2>Desktops & Endpoints</h2>
                <hr class="border-hr" />
                <p>Deploying software to desktop and endpoint devices is not always easy, especially in a highly regulated and locked down environments. How do you ensure your teams have the most up to date software deployed to their desktops? </p>
                <p>For endpoint users you need to ensure they are productive, efficient, and have no vulnerabilities. So how can you ensure they have the latest software, but at the same time ensure user experience is not compromised?</p>
                <p>Chocolatey provides a unique and very cost effective approach to managing your desktop software and can be combined with your existing solutions. Chocolatey for Business (C4B) enables better security and visibility, centralized reporting, and a self-service GUI to allow non-administrators to manage optional software you've approved! Soon C4B will also have endpoint management as part of its Central Management offering.</p>
            </div>
            <div class="col-lg-6 text-center">
                <span class="h3"><span class="fas fa-desktop fa-10x text-primary"></span></span>
            </div>
        </div>
    </div>
</section>
<section id="cloud" class="py-3 py-lg-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center">
                <span class="h3"><span class="fas fa-cloud fa-10x text-primary"></span></span>
            </div>
            <div class="col-lg-6">
                <h2>Cloud / Containers</h2>
                <hr class="border-hr" />
                <p>Deploying to new environments, whether a cloud instance or using containers comes down to eliminating complexity, and making it easier to deliver quality software faster.</p>
                <p>When speed is of the essence, how can you begin to easily manage the entire software lifecycle? You need to find solutions that work at the pace of newer technologies, treating your deployments and dependencies as independent building blocks that can be combined in numerous ways.</p>
                <p>Chocolatey offers developers a standardized and repeatable approach to deploying Windows software, in both development and production environments. Organizations use Chocolatey in Docker, AWS, and Azure when they need simple, powerful, and flexible solutions to meet the needs of those environments. Chocolatey "packages" are those building blocks, forming the foundation for your deployments.</p>
            </div>
        </div>
    </div>
</section>
<section id="integrations" class="py-3 py-lg-5 bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2>Integrations</h2>
                <hr class="border-hr" />
                <p>
                    Most organizations have already invested in tools and solutions across their IT environment. Before adding more tools, IT teams may need to ensure that their existing investments are maximized. 
                    Teams also need to ensure they don't get locked in proprietary technologies that don't integrate well in their environments.
                </p>
                <p>
                    Chocolatey maximizes existing knowledge by bringing PowerShell to the forefront and allowing you to leverage existing tools you are already using. Chocolatey has integrations and is used in conjunction with leading and emerging technologies:
                </p>
                <ul class="fa-ul">
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>Configuration Management tools like Puppet, Chef, Ansible, and Powershell DSC</li>
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>Repository solutions such as JFrog Artifactory, Sonatype Nexus, and Inedo ProGet</li>
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>Continuous Integration Servers such as Jenkins, Circle CI, AppVeyor, and TeamCity</li>
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>Source Control providers like GitHub and GitLab</li>
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>Microsoft tools like SCCM and Intune and third party endpoint management solutions like Connectwise Automate, Ivanti, and Altiris</li>

                </ul>
                <p>Chocolatey's unique ability to work with any Windows machine, anywhere, allows you to deploy packages easily and efficiently in every environment, from on-premises, to the cloud (Azure, AWS, etc), to Docker containers, through many different tools and technologies.</p>
                <p>Check back later for detailed integration use cases!</p>
            </div>
            <div class="col-lg-6 text-center">
                <span class="h3"><span class="fas fa-cogs fa-10x text-primary"></span></span>
            </div>
        </div>
    </div>
</section>