<option value="#installing-chocolatey">Basic Chocolatey Install</option>
<option value="#install-from-powershell-v3">Install from Powershell v3+</option>
<option value="#completely-offline-install">Completely Offline Install</option>
<option value="#install-with-puppet">Install with Puppet</option>
<option value="#install-using-powershell-from-cmdexe">Install using PowerShell from cmd.exe</option>
<option value="#install-using-nuget-package-manager">Install Using NuGet Package Manager</option>
<option value="#install-using-nugetexe-from-powershell">Install Using NuGet.exe from PowerShell</option>
<option value="#install-downloaded-nuget-package-from-powershell">Install Downloaded NuGet Package from PowerShell</option>
<option value="#install-licensed-edition">Install Licensed Edition</option>
<option value="#installing-behind-a-proxy">Installing Behind a Proxy</option>
<option value="#installing-behind-an-explicit-proxy">Installing Behind an Explicit Proxy</option>
<option value="#installing-to-a-different-location">Installing to a Different Location</option>
<option value="#installing-a-particular-version-of-chocolatey">Installing a Particular Version of Chocolatey</option>
<option value="#use-windows-built-in-compression-instead-of-downloading-7zip">Use Windows Built-In Compression Instead of Downloading 7zip</option>
<option value="#installing-with-restricted-tls">Installing with Restricted TLS</option>
<option value="#non-administrative-install">Non-Administrative Install</option>