@{
string currentUrl = Request.Url.AbsoluteUri;

if (currentUrl.ToLower().Contains("uninstalling"))
{
    <a href="@Url.RouteUrl(RouteName.CourseName, new { courseName = CourseConstants.GetCourseUrl(CourseNameType.InstallingUpgradingUninstalling), courseModuleName = "home" })" class="btn btn-success mt-3">Review Unfinished Modules<span class="fas fa-angle-right"></span></a>
}
else
{
    <a href="@if (currentUrl.ToLower().Contains("installing")) {
    @Url.RouteUrl(RouteName.CourseName, new { courseName = CourseConstants.GetCourseUrl(CourseNameType.InstallingUpgradingUninstalling), courseModuleName = "upgrading" })
}
else if (currentUrl.ToLower().Contains("upgrading")) {
    @Url.RouteUrl(RouteName.CourseName, new { courseName = CourseConstants.GetCourseUrl(CourseNameType.InstallingUpgradingUninstalling), courseModuleName = "uninstalling" })
}" class="btn btn-success mt-3">Continue with Course<span class="fas fa-angle-right"></span></a>
}
}