@{
    ViewBag.Title = "Alerts";
}

@section SideColumn {
    <ul>
        <li><a href="#callout-background">Callouts on Colored Background</a></li>
        <li><a href="#callout-no-background">Callouts on White</a></li>
        <li><a href="#callout-content">Additional Callout Content</a></li>
        <li><a href="#callout-dismiss">Dismissing a Callout</a></li>
    </ul>
}
<h1>Alerts and Callouts</h1>
<div class="callout callout-danger mt-3">
    <strong class="text-danger">IMPORTANT!</strong><br />
    Callouts are not native to the Bootstrap library, but are used as the typical "alert". Ensure you have the <a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "home" })">Chocolatey Theme</a> installed for proper usage.
</div>

<h2 id="callout-background" class="mt-5">Callouts on Any Colored Background:</h2>
<p>This is the most typical use case of a callout "alert" since most of the time you will be working on a background other than white.</p>
<div class="callout callout-primary">.callout-primary</div>
<div class="callout callout-secondary">.callout-secondary</div>
<div class="callout callout-success">.callout-success</div>
<div class="callout callout-danger">.callout-danger</div>
<div class="callout callout-warning">.callout-warning</div>
<div class="border">
<script type="text/plain" class="language-markup">
<div class="callout callout-primary">.callout-primary</div>
<div class="callout callout-secondary">.callout-secondary</div>
<div class="callout callout-success">.callout-success</div>
<div class="callout callout-danger">.callout-danger</div>
<div class="callout callout-warning">.callout-warning</div>
</script>
</div>

<h2 id="callout-no-background" class="mt-5">Callouts on White Background:</h2>
<p>If you are working on a stricly white background, perhaps a <a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "cards" })">Card</a>, you will need to use one of the two options below. </p>
<div class="row">
    <div class="col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <h3>Option 1:</h3>
                <p>Removes class <code class="language-css">.callout</code>.</p>
                <div class="callout-primary">.callout-primary</div>
                <div class="callout-secondary">.callout-secondary</div>
                <div class="callout-success">.callout-success</div>
                <div class="callout-danger">.callout-danger</div>
                <div class="callout-warning mb-0">.callout-warning</div>
            </div>
            <div class="card-footer bg-white border-top">
<script type="text/plain" class="language-markup">
<div class="callout-primary">.callout-primary</div>
<div class="callout-secondary">.callout-secondary</div>
<div class="callout-success">.callout-success</div>
<div class="callout-danger">.callout-danger</div>
<div class="callout-warning">.callout-warning</div>
</script>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <h3>Option 2:</h3>
                <p>Adds class <code class="language-css">.bg-light</code>.</p>
                <div class="callout callout-primary bg-light">.callout-primary</div>
                <div class="callout callout-secondary bg-light">.callout-secondary</div>
                <div class="callout callout-success bg-light">.callout-success</div>
                <div class="callout callout-danger bg-light">.callout-danger</div>
                <div class="callout callout-warning bg-light mb-0">.callout-warning</div>
            </div>
            <div class="card-footer bg-white border-top">
<script type="text/plain" class="language-markup">
<div class="callout callout-primary bg-light">.callout-primary</div>
<div class="callout callout-secondary bg-light">.callout-secondary</div>
<div class="callout callout-success bg-light">.callout-success</div>
<div class="callout callout-danger bg-light">.callout-danger</div>
<div class="callout callout-warning bg-light">.callout-warning</div>
</script>
            </div>
        </div>
    </div>
</div>

<h2 id="callout-content" class="mt-5">Callouts with Additional Content:</h2>
<p>Callouts are highly customizable in that you can use any of the Bootstrap utilities inside of them. See the example below.</p>
<div class="callout callout-danger">
    <h3 class="text-danger">You can mix-in matching text-colors if you wish!</h3>
    <p>Awesome, you've read this dangerous alert message.</p>
    <p class="mb-0">Be sure to utilize the margin utilities when needed to keep the callout nice and clean!</p>
</div>
<div class="border">
<script type="text/plain" class="language-markup">
<div class="callout callout-danger">
    <h3 class="text-danger">You can mix-in matching text-colors if you wish!</h3>
    <p>Awesome, you've read this dangerous alert message.</p>
    <p class="mb-0">Be sure to utilize the margin utilities when needed to keep the callout nice and clean!</p>
</div>
</script>
</div>

<h2 id="callout-dismiss" class="mt-5">Dismissing a Callout:</h2>
<p>Typically, you will not give the option to dismiss a callout, as the information shoudld likely be present on the page. If needed, however, you can adjust the callout (as seen below) to allow the user to dismiss it.</p>
<div class="callout callout-success alert-dismissible">
    <strong class="text-success">Success! </strong>Click the &times; on the right to close this callout alert!
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="border">
<script type="text/plain" class="language-markup">
<div class="callout callout-success alert-dismissible mb-0">
    <strong class="text-success">Success! </strong>Click the &times; on the right to close this callout alert!
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
</script>
</div>