@{
    ViewBag.Title = "Buttons";
}

@section SideColumn {
    <ul>
        <li><a href="#button-color">Button Colors</a></li>
        <li><a href="#button-small">Small Buttons</a></li>
        <li><a href="#button-large">Large Buttons</a></li>
        <li><a href="#button-group">Action Button Groups</a></li>
    </ul>
}
<h1>Buttons</h1>
<h4>Use Chocolatey's button styles for usage in forms, call to actions, and more!</h4>
<div class="callout callout-danger mt-3">
    <strong class="text-danger">IMPORTANT!</strong><br />
    Buttons have been modified from their original state definied within Bootstrap. Ensure you have the <a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "home" })">Chocolatey Theme</a> installed for proper usage.
</div>

<h2 id="button-color" class="mt-5">Button Colors</h2>
<p>
    The Chocolatey Theme uses some of Bootstrap's default colors, while others have been extended. 
</p>
<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-outline-primary">Primary Outline</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary Outline</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-outline-light">Light Outline</button>
        <button type="button" class="btn btn-dark">Dark</button>
    </div>
    <div class="card-footer bg-white border-top">
<script type="text/plain" class="language-markup">
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-outline-primary">Primary Outline</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-outline-secondary">Secondary Outline</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-outline-light">Light Outline</button>
<button type="button" class="btn btn-dark">Dark</button>
</script>
    </div>
</div>

<h2 id="button-small" class="mt-5">Small Buttons</h2>
<p>
    Small buttons may be used sparingly throughout the theme. They should be reserved for elemenets such as copy buttons or hide/show buttons. They are definied by the addition of the class <code class="language-markup">.btn-sm</code>.
</p>
<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-primary btn-sm">Primary</button>
        <button type="button" class="btn btn-secondary btn-sm">Secondary</button>
    </div>
    <div class="card-footer bg-white border-top">
<script type="text/plain" class="language-markup">
<button type="button" class="btn btn-primary btn-sm">Primary</button>
<button type="button" class="btn btn-secondary btn-sm">Secondary</button>
</script>
    </div>
</div>

<h2 id="button-large" class="mt-5">Large Buttons</h2>
<p>
    Large buttons are mostly reserved for usage in headers or main call to action statements. They are defined by the addition of the class <code class="language-markup">.btn-lg</code>.
</p>
<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg">Primary</button>
        <button type="button" class="btn btn-secondary btn-lg">Secondary</button>
    </div>
    <div class="card-footer bg-white border-top">
<script type="text/plain" class="language-markup">
<button type="button" class="btn btn-primary btn-lg">Primary</button>
<button type="button" class="btn btn-secondary btn-lg">Secondary</button>
</script>
    </div>
</div>

<h2 id="button-group" class="mt-5">Action Button Groups</h2>
<p>
    When using two buttons side-by-side to give the user the option to "learn more" or "take action", the "learn more" button should always be placed on the left and outlined (see example). The "take action" button should be placed on the right. 
    In most cases, the two buttons should use the same colors for consistency, such as <code class="language-markup">.btn-outline-primary</code> (left) and <code class="language-markup">.btn-primary</code> (right). If the Action Button Group
    is placed within a <a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "sections" })#section-call-to-action">Call to Action</a> section, then typically the "take action" button will have the class 
    <code class="language-markup">.btn-primary</code> as shown on the <a href="@Url.Home()">home page</a>.
</p>
<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-outline-primary">Learn More</button>
        <button type="button" class="btn btn-primary">Get Started</button>
    </div>
    <div class="card-footer bg-white border-top">
<script type="text/plain" class="language-markup">
<button type="button" class="btn btn-outline-primary">Learn More</button>
<button type="button" class="btn btn-primary">Get Started</button>
</script>
    </div>
</div>