@{
    ViewBag.Title = "Cards";
}

@section SideColumn {
    <ul>
        <li><a href="#card-basic">Basic Card</a></li>
        <li><a href="#card-advanced">Cards with Headers and Footers</a></li>
        <li><a href="#card-alignment">Card Alignment</a></li>
        <li><a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "testimonials" })">Testimonials Using Cards</a></li>
    </ul>
}
<h1>Cards</h1>
<h4>Use cards to create pricing tables, testimonials, and more!</h4>
<div class="callout callout-danger mt-3">
    <strong class="text-danger">IMPORTANT!</strong><br />
    Cards have been modified from their original state definied within Bootstrap. Ensure you have the <a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "home" })">Chocolatey Theme</a> installed for proper usage.
</div>

<h2 id="card-basic" class="mt-5">Basic Card</h2>
<p>
    The basic card only consist of the <code class="language-css">.card-body</code> nested element, and is sufficient in most situations to display and highlight information. They are used in conjuction with 
    <a href="https://getbootstrap.com/docs/4.3/layout/grid/" target="_blank" rel="noreferrer">Bootstrap's grid</a> and will fill the full width of its parent element.
</p>
<div class="row mb-3">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center">I am a basic card</h3>
                <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque odio ante, tempus in nulla quis, vehicula dapibus felis. Sed nec dolor vitae lectus sollicitudin sodales volutpat ut augue.
                    Aenean cursus risus at mauris condimentum porttitor. Nunc a scelerisque metus, nec bibendum mi. Praesent metus quam, varius vel ullamcorper quis, ultrices in orci. In lobortis est ac accumsan suscipit.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="border">
<script type="text/plain" class="language-markup">
<!-- Used within a .row to show how it can utilize the grid -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center">I am a basic card</h3>
                <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque odio ante, tempus in nulla quis, vehicula dapibus felis. Sed nec dolor vitae lectus sollicitudin sodales volutpat ut augue.
                    Aenean cursus risus at mauris condimentum porttitor. Nunc a scelerisque metus, nec bibendum mi. Praesent metus quam, varius vel ullamcorper quis, ultrices in orci. In lobortis est ac accumsan suscipit.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-6"></div>
</div>
</script>
</div>

<h2 id="card-advanced" class="mt-5">Card Header and Footer</h2>
<p>
    Sometimes it is appropriate to include an optional header or footer. These elements come in handy when there is a lot of information to display on a card.
</p>
<div class="row mb-3">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-primary">
                <h3 class="text-center mb-0">Card Header</h3>
            </div>
            <div class="card-body">
                <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque odio ante, tempus in nulla quis, vehicula dapibus felis. Sed nec dolor vitae lectus sollicitudin sodales volutpat ut augue.
                    Aenean cursus risus at mauris condimentum porttitor. Nunc a scelerisque metus, nec bibendum mi. Praesent metus quam, varius vel ullamcorper quis, ultrices in orci. In lobortis est ac accumsan suscipit.
                </p>
            </div>
            <div class="card-footer bg-white pt-0 pb-4">
                <a href="#" class="btn btn-outline-primary">Card Footer</a>
            </div>
        </div>
    </div>
</div>
<div class="border">
<script type="text/plain" class="language-markup">
<!-- Used within a .row to show how it can utilize the grid -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-primary">
                <h3 class="text-center mb-0">Card Header</h3>
            </div>
            <div class="card-body">
                <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque odio ante, tempus in nulla quis, vehicula dapibus felis. Sed nec dolor vitae lectus sollicitudin sodales volutpat ut augue.
                    Aenean cursus risus at mauris condimentum porttitor. Nunc a scelerisque metus, nec bibendum mi. Praesent metus quam, varius vel ullamcorper quis, ultrices in orci. In lobortis est ac accumsan suscipit.
                </p>
            </div>
            <div class="card-footer bg-white pt-0 pb-4">
                <a href="#" class="btn btn-outline-primary">Card Footer</a>
            </div>
        </div>
    </div>
    <div class="col-xl-6"></div>
</div>
</script>
</div>

<h2 id="card-alignment" class="mt-5">Card Alignment</h2>
<p>
    When cards of varying content length are placed next to each other, it is good practice to include the <code class="language-css">.h-100</code> class to the <code class="language-css">.card</code> div so that all the cards have the same height
    and footers are pushed to the bottom.
</p>
<div class="row mb-3">
    <div class="col-xl-4 mb-4 mb-xl-0">
        <div class="card h-100">
            <div class="card-header bg-primary">
                <h3 class="text-center mb-0">Card One</h3>
            </div>
            <div class="card-body">
                <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque odio ante, tempus in nulla quis, vehicula dapibus felis. Sed nec dolor vitae lectus sollicitudin sodales volutpat ut augue.
                    Aenean cursus risus at mauris condimentum porttitor. Nunc a scelerisque metus, nec bibendum mi. Praesent metus quam, varius vel ullamcorper quis, ultrices in orci. In lobortis est ac accumsan suscipit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque odio ante, tempus in nulla quis, vehicula dapibus felis. Sed nec dolor vitae lectus sollicitudin sodales volutpat ut augue.
                    Aenean cursus risus at mauris condimentum porttitor. Nunc a scelerisque metus, nec bibendum mi. Praesent metus quam, varius vel ullamcorper quis, ultrices in orci. In lobortis est ac accumsan suscipit.
                </p>
            </div>
            <div class="card-footer bg-white text-center pt-0 pb-4">
                <a href="#" class="btn btn-outline-primary">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 mb-4 mb-xl-0">
        <div class="card h-100">
            <div class="card-header bg-primary">
                <h3 class="text-center mb-0">Card Two</h3>
            </div>
            <div class="card-body">
                <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque odio ante, tempus in nulla quis, vehicula dapibus felis. Sed nec dolor vitae lectus sollicitudin sodales volutpat ut augue.
                    Aenean cursus risus at mauris condimentum porttitor. Nunc a scelerisque metus, nec bibendum mi. Praesent metus quam, varius vel ullamcorper quis, ultrices in orci. In lobortis est ac accumsan suscipit.
                </p>
            </div>
            <div class="card-footer bg-white text-center pt-0 pb-4">
                <a href="#" class="btn btn-outline-primary font-weight-bold">Contact Us</a>
                <a href="#" class="btn btn-primary">Take Action</a>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card h-100">
            <div class="card-header bg-primary">
                <h3 class="text-center mb-0">Card Three</h3>
            </div>
            <div class="card-body">
                <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque odio ante, tempus in nulla quis, vehicula dapibus felis. Sed nec dolor vitae lectus sollicitudin sodales volutpat ut augue.
                    Aenean cursus risus at mauris condimentum porttitor. Nunc a scelerisque metus, nec bibendum mi. Praesent metus quam, varius vel ullamcorper quis, ultrices in orci. In lobortis est ac accumsan suscipit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque odio ante, tempus in nulla quis, vehicula dapibus felis. Sed nec dolor vitae lectus sollicitudin sodales volutpat ut augue.
                </p>
            </div>
            <div class="card-footer bg-white text-center pt-0 pb-4">
                <a href="#" class="btn btn-primary">Take Action</a>
            </div>
        </div>
    </div>
</div>
<div class="border">
<script type="text/plain" class="language-markup">
<div class="row">
    <div class="col-xl-4 mb-4 mb-xl-0">
        <div class="card h-100">
            <div class="card-header bg-primary">
                <h3 class="text-center mb-0">Card One</h3>
            </div>
            <div class="card-body">
                <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque odio ante, tempus in nulla quis, vehicula dapibus felis. Sed nec dolor vitae lectus sollicitudin sodales volutpat ut augue.
                    Aenean cursus risus at mauris condimentum porttitor. Nunc a scelerisque metus, nec bibendum mi. Praesent metus quam, varius vel ullamcorper quis, ultrices in orci. In lobortis est ac accumsan suscipit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque odio ante, tempus in nulla quis, vehicula dapibus felis. Sed nec dolor vitae lectus sollicitudin sodales volutpat ut augue.
                    Aenean cursus risus at mauris condimentum porttitor. Nunc a scelerisque metus, nec bibendum mi. Praesent metus quam, varius vel ullamcorper quis, ultrices in orci. In lobortis est ac accumsan suscipit.
                </p>
            </div>
            <div class="card-footer bg-white text-center pt-0 pb-4">
                <a href="#" class="btn btn-outline-primary">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 mb-4 mb-xl-0">
        <div class="card h-100">
            <div class="card-header bg-primary">
                <h3 class="text-center mb-0">Card Two</h3>
            </div>
            <div class="card-body">
                <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque odio ante, tempus in nulla quis, vehicula dapibus felis. Sed nec dolor vitae lectus sollicitudin sodales volutpat ut augue.
                    Aenean cursus risus at mauris condimentum porttitor. Nunc a scelerisque metus, nec bibendum mi. Praesent metus quam, varius vel ullamcorper quis, ultrices in orci. In lobortis est ac accumsan suscipit.
                </p>
            </div>
            <div class="card-footer bg-white text-center pt-0 pb-4">
                <a href="#" class="btn btn-outline-primary">Contact Us</a>
                <a href="#" class="btn btn-primary">Take Action</a>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card h-100">
            <div class="card-header bg-primary">
                <h3 class="text-center mb-0">Card Three</h3>
            </div>
            <div class="card-body">
                <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque odio ante, tempus in nulla quis, vehicula dapibus felis. Sed nec dolor vitae lectus sollicitudin sodales volutpat ut augue.
                    Aenean cursus risus at mauris condimentum porttitor. Nunc a scelerisque metus, nec bibendum mi. Praesent metus quam, varius vel ullamcorper quis, ultrices in orci. In lobortis est ac accumsan suscipit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque odio ante, tempus in nulla quis, vehicula dapibus felis. Sed nec dolor vitae lectus sollicitudin sodales volutpat ut augue.
                </p>
            </div>
            <div class="card-footer bg-white text-center pt-0 pb-4">
                <a href="#" class="btn btn-primary">Take Action</a>
            </div>
        </div>
    </div>
</div>
</script>
</div>