@{
    ViewBag.Title = "Carousels";
}

@section SideColumn {
    <ul>
        <li><a href="#carousel-testimonial">Testimonial Carousel</a></li>
        <li><a href="#carousel-information">Informational Carousel</a></li>
    </ul>
}
<h1>Carousels</h1>
<div class="callout callout-danger mt-3">
    <strong class="text-danger">IMPORTANT!</strong><br />
    Carousels have been modified from their original state definied within Bootstrap. Ensure you have the <a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "home" })">Chocolatey Theme</a> installed for proper usage.
    Visit the <a href="https://getbootstrap.com/docs/4.3/components/carousel/" target="_blank" rel="noreferrer">Bootstrap Documentation</a> to learn more about carousels.
</div>

<h2 id="carousel-testimonial" class="mt-5">Testimonial Carousel</h2>
<p>
    The testimonial carousel can be used instead of the grid layout above. In most cases, the carousel below isnested within a<br /><code class="language-markup">&lt;div class=&quot;col-lg-10 mx-auto&quot;&gt;&lt;/div&gt;</code>, however it can also be rendered within a full width column.
    The carousel is designed to be displayed on a colored background.
</p>
<div class="card">
    <div class="card-body bg-primary">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div id="testimonialCarousel" class="carousel slide carousel-fade text-dark testimonial-carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonialCarousel" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card">
                                <div class="card-body p-xl-5 d-xl-flex">
                                    <div class="row align-items-xl-center">
                                        <div class="col-xl-4 text-center">
                                            <img class="rounded-circle" src="https://via.placeholder.com/250/e9ecef/000/?text=placeholder" rel="noreferrer" alt="Placeholder" title="Placeholder" />
                                        </div>
                                        <div class="col-xl-8">
                                            <div class="row">
                                                <div class="col-12 order-xl-2 text-center text-xl-left">
                                                    <h3 class="mt-2 mb-0 text-primary"><small>Jane Doe</small></h3>
                                                    <p><small><i>Position of Company Name</i></small></p>
                                                </div>
                                                <div class="col-12 order-xl-1">
                                                    <q class="mb-4 mb-xl-0">Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Cras scelerisque fermentum tellus, ac vulputate est consectetur sed. Nam consectetur cursus vulputate. Nam vel mauris sit amet tortor mattis luctus id ac dui. Fusce sed commodo purus. Ut nec mollis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</q>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                                <div class="card-body p-xl-5 d-xl-flex">
                                    <div class="row align-items-xl-center">
                                        <div class="col-xl-4 text-center">
                                            <img class="rounded-circle" src="https://via.placeholder.com/250/e9ecef/000/?text=placeholder" rel="noreferrer" alt="Placeholder" title="Placeholder" />
                                        </div>
                                        <div class="col-xl-8">
                                            <div class="row">
                                                <div class="col-12 order-xl-2 text-center text-xl-left">
                                                    <h3 class="mt-2 mb-0 text-primary"><small>John Doe</small></h3>
                                                    <p><small><i>Position of Company Name</i></small></p>
                                                </div>
                                                <div class="col-12 order-xl-1">
                                                    <q class="mb-4 mb-xl-0">Nam consectetur cursus vulputate. Nam vel mauris sit amet tortor mattis luctus id ac dui. Fusce sed commodo purus. Ut nec mollis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</q>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
                        <span class="fas fa-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next">
                        <span class="fas fa-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer bg-white border-top">
<script type="text/plain" class="language-markup">
<div class="row">
    <div class="col-lg-10 mx-auto">
        <div id="testimonialCarousel" class="carousel slide carousel-fade text-dark testimonial-carousel">
            <ol class="carousel-indicators">
                <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#testimonialCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card">
                        <div class="card-body p-xl-5 d-xl-flex">
                            <div class="row align-items-xl-center">
                                <div class="col-xl-4 text-center">
                                    <img class="rounded-circle" src="https://via.placeholder.com/250/e9ecef/000/?text=placeholder" rel="noreferrer" alt="Placeholder" title="Placeholder" />
                                </div>
                                <div class="col-xl-8">
                                    <div class="row">
                                        <div class="col-12 order-xl-2 text-center text-xl-left">
                                            <h3 class="mt-2 mb-0 text-primary"><small>Jane Doe</small></h3>
                                            <p><small><i>Position of Company Name</i></small></p>
                                        </div>
                                        <div class="col-12 order-xl-1">
                                            <q class="mb-4 mb-xl-0">Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Cras scelerisque fermentum tellus, ac vulputate est consectetur sed. Nam consectetur cursus vulputate. Nam vel mauris sit amet tortor mattis luctus id ac dui. Fusce sed commodo purus. Ut nec mollis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</q>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-body p-xl-5 d-xl-flex">
                            <div class="row align-items-xl-center">
                                <div class="col-xl-4 text-center">
                                    <img class="rounded-circle" src="https://via.placeholder.com/250/e9ecef/000/?text=placeholder" rel="noreferrer" alt="Placeholder" title="Placeholder" />
                                </div>
                                <div class="col-xl-8">
                                    <div class="row">
                                        <div class="col-12 order-xl-2 text-center text-xl-left">
                                            <h3 class="mt-2 mb-0 text-primary"><small>John Doe</small></h3>
                                            <p><small><i>Position of Company Name</i></small></p>
                                        </div>
                                        <div class="col-12 order-xl-1">
                                            <q class="mb-4 mb-xl-0">Nam consectetur cursus vulputate. Nam vel mauris sit amet tortor mattis luctus id ac dui. Fusce sed commodo purus. Ut nec mollis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</q>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
                <span class="fas fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next">
                <span class="fas fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
</script>
    </div>
</div>

<h2 id="carousel-information" class="mt-5">Informational Carousel</h2>
<p>
    The information carousel can be used to display almost any type of information. In most cases, the carousel below is nested within a<br /><code class="language-markup">&lt;div class=&quot;col-lg-10 mx-auto&quot;&gt;&lt;/div&gt;</code>, however it can also be rendered within a full width column.
    The carousel is designed to be displayed on a white or default body background.
</p>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div id="informationCarousel" class="carousel slide carousel-fade information-carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#informationCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#informationCarousel" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row align-items-center">
                                <div class="col-lg-6 text-center">
                                    <img class="rounded-circle" src="https://via.placeholder.com/415/e9ecef/000/?text=placeholder" rel="noreferrer" alt="Placeholder" title="Placeholder" />
                                </div>
                                <div class="col-lg-6">
                                    <p class="mb-3">
                                        Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Cras scelerisque fermentum tellus, ac vulputate est consectetur sed.
                                        Nam consectetur cursus vulputate. Nam vel mauris sit amet tortor mattis luctus id ac dui. Fusce sed commodo purus. Ut nec mollis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="text-center">Duis Accumsan, Nibh Quis Sagittis Feugiat</h3>
                                    <p>
                                        Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Cras scelerisque fermentum tellus, ac vulputate est consectetur sed.
                                        Nam consectetur cursus vulputate. Nam vel mauris sit amet tortor mattis luctus id ac dui. Fusce sed commodo purus. Ut nec mollis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                                    </p>
                                    <p class="mb-3">
                                        Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Cras scelerisque fermentum tellus, ac vulputate est consectetur sed.
                                        Nam consectetur cursus vulputate. Nam vel mauris sit amet tortor mattis luctus id ac dui. Fusce sed commodo purus. Ut nec mollis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                                        Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Cras scelerisque fermentum tellus, ac vulputate est consectetur sed.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#informationCarousel" role="button" data-slide="prev">
                        <span class="fas fa-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#informationCarousel" role="button" data-slide="next">
                        <span class="fas fa-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer bg-white border-top">
<script type="text/plain" class="language-markup">
<div class="row">
    <div class="col-lg-10 mx-auto">
        <div id="informationCarousel" class="carousel slide carousel-fade information-carousel">
            <ol class="carousel-indicators">
                <li data-target="#informationCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#informationCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row align-items-center">
                        <div class="col-lg-6 text-center">
                            <img class="rounded-circle" src="https://via.placeholder.com/415/e9ecef/000/?text=placeholder" rel="noreferrer" alt="Placeholder" title="Placeholder" />
                        </div>
                        <div class="col-lg-6">
                            <p>
                                Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Cras scelerisque fermentum tellus, ac vulputate est consectetur sed.
                                Nam consectetur cursus vulputate. Nam vel mauris sit amet tortor mattis luctus id ac dui. Fusce sed commodo purus. Ut nec mollis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="text-center">Duis Accumsan, Nibh Quis Sagittis Feugiat</h3>
                            <p>
                                Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Cras scelerisque fermentum tellus, ac vulputate est consectetur sed.
                                Nam consectetur cursus vulputate. Nam vel mauris sit amet tortor mattis luctus id ac dui. Fusce sed commodo purus. Ut nec mollis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                            </p>
                            <p>
                                Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Cras scelerisque fermentum tellus, ac vulputate est consectetur sed.
                                Nam consectetur cursus vulputate. Nam vel mauris sit amet tortor mattis luctus id ac dui. Fusce sed commodo purus. Ut nec mollis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                                Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Cras scelerisque fermentum tellus, ac vulputate est consectetur sed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#informationCarousel" role="button" data-slide="prev">
                <span class="fas fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#informationCarousel" role="button" data-slide="next">
                <span class="fas fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
</script>
    </div>
</div>