@{
    ViewBag.Title = "Colors";
}

@section SideColumn {
    <ul>
        <li><a href="#color-text">Text Colors</a></li>
        <li><a href="#color-background">Background Colors</a></li>
    </ul>
}
<h1>Colors</h1>
<h4>Handfulls of color utility classes to easily convey meaning to users.</h4>
<div class="callout callout-danger mt-3">
    <strong class="text-danger">IMPORTANT!</strong><br />
    Colors have been modified from their original state definied within Bootstrap. Ensure you have the <a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "home" })">Chocolatey Theme</a> installed for proper usage.
</div>

<h2 id="color-text" class="mt-5 mb-3">Text Colors</h2>
<div class="card">
    <div class="card-body">
        <p class="text-primary">.text-primary</p>
        <p class="text-success">.text-success</p>
        <p class="text-danger">.text-danger</p>
        <p class="text-warning">.text-warning</p>
        <p class="text-white bg-dark">.text-white</p>
        <p class="text-muted">.text-muted</p>
    </div>
    <div class="card-footer bg-white border-top">
<script type="text/plain" class="language-markup">
<p class="text-primary">.text-primary</p>
<p class="text-success">.text-success</p>
<p class="text-danger">.text-danger</p>
<p class="text-warning">.text-warning</p>
<p class="text-white bg-dark">.text-white</p>
<p class="text-muted">.text-muted</p>
</script>
        @*<ul class="nav nav-pills mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active mr-2" id="color-text-markup-tab" data-toggle="pill" href="#color-text-markup" role="tab" aria-controls="color-text-markup" aria-selected="true">View Markup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="color-text-css-tab" data-toggle="pill" href="#color-text-css" role="tab" aria-controls="color-text-css" aria-selected="false">View CSS</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="color-text-markup" role="tabpanel" aria-labelledby="color-text-markup-tab">
            <script type="text/plain" class="language-markup">
            <p class="text-primary">.text-primary</p>
            <p class="text-success">.text-success</p>
            <p class="text-danger">.text-danger</p>
            <p class="text-warning">.text-warning</p>
            <p class="text-white bg-dark">.text-white</p>
            <p class="text-muted">.text-muted</p>
            </script>
                        </div>
                        <div class="tab-pane fade" id="color-text-css" role="tabpanel" aria-labelledby="color-text-css-tab">
            <pre><code class="language-css">
            .text-primary {
                color: #5c9fd8 !important;
            }
            .text-success {
                color: #36bc98 !important;
            }
            .text-danger {
                color: #f4516c !important;
            }
            </code></pre>
                        </div>
                    </div>*@
    </div>
</div>

<h2 id="color-background" class="mt-5 mb-3">Background Colors</h2>
<div class="card">
    <div class="card-body">
        <div class="bg-white p-3 mb-2 border"><strong>.bg-white</strong> - Main usage for <a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "cards" })">Cards</a> or to define <code class="language-markup">&lt;section&gt;</code> elements</div>
        <div class="bg-light p-3 mb-2 border"><strong>.bg-light</strong> - Main usage for <code class="language-markup">&lt;body&gt;</code> background color</div>
        <div class="bg-medium-light p-3 mb-2"><strong>.bg-medium-light</strong> - Often used on <a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "cards" })#card-advanced">Card Headers</a></div>
        <div class="bg-primary p-3 mb-2"><strong>.bg-primary</strong> - Often used on <a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "cards" })#card-advanced">Card Headers</a></div>
        <div class="bg-medium p-3 mb-2"><strong>.bg-medium</strong> - Main usage for <code class="language-markup">&lt;header&gt;</code> and <code class="language-markup">&lt;footer&gt;</code> background color</div>
        <div class="bg-medium-dark p-3 mb-2"><strong>.bg-medium-dark</strong> - Main usage for <code class="language-markup">&lt;footer&gt;</code> Copyright information or CTA's in <code class="language-markup">&lt;body&gt;</code></div>
        <div class="bg-dark text-white p-3"><strong>.bg-dark</strong> - Use sparingly</div>
    </div>
    <div class="card-footer bg-white border-top">
<script type="text/plain" class="language-markup">
<div class="bg-white p-3 mb-2 border">.bg-white</div>
<div class="bg-light p-3 mb-2 border">.bg-light</div>
<div class="bg-medium-light p-3 mb-2">.bg-medium-light</div>
<div class="bg-primary p-3 mb-2">.bg-primary</div>
<div class="bg-medium p-3 mb-2">.bg-medium</div>
<div class="bg-medium-dark p-3 mb-2">.bg-medium-dark</div>
<div class="bg-dark p-3">.bg-dark</div>
</script>

        @*<ul class="nav nav-pills mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active mr-2" id="color-background-markup-tab" data-toggle="pill" href="#color-background-markup" role="tab" aria-controls="color-background-markup" aria-selected="true">View Markup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="color-background-css-tab" data-toggle="pill" href="#color-background-css" role="tab" aria-controls="color-background-css" aria-selected="false">View CSS</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="color-background-markup" role="tabpanel" aria-labelledby="color-background-markup-tab">
            <script type="text/plain" class="language-markup">
            <div class="bg-white p-3 mb-2 border">.bg-white</div>
            <div class="bg-light p-3 mb-2 border">.bg-light</div>
            <div class="bg-secondary p-3 mb-2">.bg-secondary</div>
            <div class="bg-primary text-white p-3 mb-2">.bg-primary</div>
            <div class="bg-medium text-white p-3 mb-2">.bg-medium</div>
            <div class="bg-medium-dark text-white p-3 mb-2">.bg-medium-dark</div>
            <div class="bg-dark text-white p-3">.bg-dark</div>
            </script>
                        </div>
                        <div class="tab-pane fade" id="color-background-css" role="tabpanel" aria-labelledby="color-background-css-tab">
            <pre><code class="language-css">
            .bg-secondary {
                background: #e9ecef !important;
            }
            .bg-dark {
                background: #202f3c !important;
            }
            .bg-medium-dark {
                background: #1a375a !important;
            }
            .bg-medium {
                background: #2f6492;
            }
            .bg-primary {
                background: #5c9fd8 !important;
            }
            </code></pre>
                        </div>
                    </div>*@
    </div>
</div>