@{
    ViewBag.Title = "Font";
}

@section SideColumn {
    <ul>
        <li><a href="#font-general">General Usage</a></li>
    </ul>
}
<h1>Chocolatey Font Usage</h1>
<div class="callout callout-danger mt-3">
    <strong class="text-danger">IMPORTANT!</strong><br />
    Fonts have been modified from their original state defined within Bootstrap. Ensure you have the <a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "home" })">Chocolatey Theme</a> installed for proper usage.
</div>

<h2 id="font-general" class="mt-5">General Usage:</h2>
<p>The official Chocolatey Theme uses <strong>PT Sans</strong> as its main font which is hosted by Google Fonts. Include the file below in the <code class="language-markup">&lt;head&gt;</code>for usage in your external project.</p>
<div class="border">
<script type="text/plain" class="language-markup">
<!-- Place in the <head> of your file -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" />
</script>
</div>