@{
    ViewBag.Title = "Testimonials";
}

@section SideColumn {
    <ul>
        @*<li><a href="#testimonial-star-rating">Testimonials Star Ratings</a></li>*@
        <li><a href="#testimonial-standalone">Standalone Testimonial</a></li>
        <li><a href="#testimonial-multiple">Multiple Testimonials</a></li>
        <li><a href="#testimonial-carousel">Carousel Testimonials</a></li>
    </ul>
}
<h1>Testimonials</h1>
<div class="callout callout-danger mt-3">
    <strong class="text-danger">IMPORTANT!</strong><br />
    The below testimonial looks are not native to the Bootstrap library. Ensure you have the <a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "home" })">Chocolatey Theme</a> installed for proper usage.
</div>

@*<h2 id="testimonial-star-rating" class="mt-5">Testimonial Star Ratings</h2>
<p>In situations where a user has provided a star rating with their testimonial, include the blocks of code below as shown on each <a href="testimonial-standalone">testimonial</a>. Otherwise, this can be ommited from the testimonial card.</p>
<p>

</p>
<div class="card">
    <div class="card-body">
        <ul class="rating star5">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="rating star4">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="rating star3">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="rating star2">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="rating star1 mb-0">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="card-footer bg-white border-top">
<script type="text/plain" class="language-markup">
<!-- 5 Star Rating -->
<ul class="rating star5">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<!-- 4 Star Rating -->
<ul class="rating star4">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<!-- 3 Star Rating -->
<ul class="rating star3">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<!-- 2 Star Rating -->
<ul class="rating star2">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<!-- 1 Star Rating -->
<ul class="rating star1">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
</script>
    </div>
</div>*@

<h2 id="testimonial-standalone" class="mt-5">Standalone Testimonial</h2>
<p>
    This testimonial look should only be used when displaying with other content inside of <a href="https://getbootstrap.com/docs/4.3/layout/grid/" target="_blank" rel="noreferrer">Bootstrap's grid</a>. 
    If multiple testimonials need to be displayed, use the <a href="#testimonial-multiple">options below</a>.
</p>
<div class="row align-items-center mb-3">
    <div class="col-lg-6 text-center">
        <div class="card w-75 mx-auto testimonial">
            <div class="card-body">
                <img class="rounded-circle border text-center" src="https://via.placeholder.com/100/e9ecef/000/" rel="noreferrer" alt="Placeholder" title="Placeholder" />
                <h3 class="mt-2 mb-0 text-primary"><small>Jane Doe</small></h3>
                <p><small><i>Position of Company Name</i></small></p>
                <q>Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus.</q>
            </div>
        </div>
    </div>
    <div class="col-lg-6"></div>
</div>
<div class="border">
<script type="text/plain" class="language-markup">
<!-- Used within a .row to show how it can utilize the grid -->
<div class="row align-items-center">
    <div class="col-lg-6 text-center">
        <div class="card w-75 mx-auto testimonial">
            <div class="card-body">
                <img class="rounded-circle border text-center" src="https://via.placeholder.com/100/e9ecef/000/" rel="noreferrer" alt="Placeholder" title="Placeholder" />
                <h3 class="mt-2 mb-0 text-primary"><small>Jane Doe</small></h3>
                <p><small><i>Position of Company Name</i></small></p>
                <q>Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus.</q>
            </div>
        </div>
    </div>
    <div class="col-lg-6"></div>
</div>
</script>
</div>

<h2 id="testimonial-multiple" class="mt-5">Multiple Testimonials</h2>
<p>
    Use the testimonial option below when displaying more than one testimonial at a time. This adds a background header element, which works better when multiple testimonials are present.
</p>
<div class="row mb-3">
    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="card h-100 testimonial-2">
            <div class="card-header p-0"></div>
            <div class="card-body pt-0 text-center">
                <img class="rounded-circle" src="https://via.placeholder.com/100/e9ecef/000/" rel="noreferrer" alt="Placeholder" title="Placeholder" />
                <h3 class="mt-2 mb-0 text-primary"><small>Jane Doe</small></h3>
                <p><small><i>Position of Company Name</i></small></p>
                <q>Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus.</q>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="card h-100 testimonial-2">
            <div class="card-header p-0"></div>
            <div class="card-body pt-0 text-center">
                <img class="rounded-circle" src="https://via.placeholder.com/100/e9ecef/000/" rel="noreferrer" alt="Placeholder" title="Placeholder" />
                <h3 class="mt-2 mb-0 text-primary"><small>John Doe</small></h3>
                <p><small><i>Position of Company Name</i></small></p>
                <q>Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus.</q>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-lg-0">
        <div class="card h-100 testimonial-2">
            <div class="card-header p-0"></div>
            <div class="card-body pt-0 text-center">
                <img class="rounded-circle" src="https://via.placeholder.com/100/e9ecef/000/" rel="noreferrer" alt="Placeholder" title="Placeholder" />
                <h3 class="mt-2 mb-0 text-primary"><small>Jane Doe</small></h3>
                <p><small><i>Position of Company Name</i></small></p>
                <q>Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus.</q>
            </div>
        </div>
    </div>
</div>
<div class="border">
<script type="text/plain" class="language-markup">
<div class="row">
    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="card h-100 testimonial-2">
            <div class="card-header p-0"></div>
            <div class="card-body pt-0 text-center">
                <img class="rounded-circle" src="https://via.placeholder.com/100/e9ecef/000/" rel="noreferrer" alt="Placeholder" title="Placeholder" />
                <h3 class="mt-2 mb-0 text-primary"><small>Jane Doe</small></h3>
                <p><small><i>Position of Company Name</i></small></p>
                <q>Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus.</q>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="card h-100 testimonial-2">
            <div class="card-header p-0"></div>
            <div class="card-body pt-0 text-center">
                <img class="rounded-circle" src="https://via.placeholder.com/100/e9ecef/000/" rel="noreferrer" alt="Placeholder" title="Placeholder" />
                <h3 class="mt-2 mb-0 text-primary"><small>John Doe</small></h3>
                <p><small><i>Position of Company Name</i></small></p>
                <q>Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus.</q>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-lg-0">
        <div class="card shadow h-100 testimonial-2">
            <div class="card-header p-0"></div>
            <div class="card-body pt-0 text-center">
                <img class="rounded-circle" src="https://via.placeholder.com/100/e9ecef/000/" rel="noreferrer" alt="Placeholder" title="Placeholder" />
                <h3 class="mt-2 mb-0 text-primary"><small>Jane Doe</small></h3>
                <p><small><i>Position of Company Name</i></small></p>
                <q>Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus.</q>
            </div>
        </div>
    </div>
</div>
</script>
</div>

<h2 id="testimonial-carousel" class="mt-5">Testimonial Carousel</h2>
<p>
    The testimonial carousel can be used instead of the grid layout above. In most cases, the carousel below is nested within a<br /><code class="language-markup">&lt;div class=&quot;col-lg-10 mx-auto&quot;&gt;&lt;/div&gt;</code>, however it can also be rendered within a full width column. 
    The carousel is designed to be displayed on a colored background. Visit the <a href="https://getbootstrap.com/docs/4.3/components/carousel/" target="_blank" rel="noreferrer">Bootstrap Documentation</a> to learn more about carousels.
</p>
<div class="card">
    <div class="card-body bg-primary">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div id="testimonialCarousel" class="carousel slide carousel-fade text-dark testimonial-carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonialCarousel" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card">
                                <div class="card-body p-xl-5 d-xl-flex">
                                    <div class="row align-items-xl-center">
                                        <div class="col-xl-4 text-center">
                                            <img class="rounded-circle" src="https://via.placeholder.com/250/e9ecef/000/?text=placeholder" rel="noreferrer" alt="Placeholder" title="Placeholder" />
                                        </div>
                                        <div class="col-xl-8">
                                            <div class="row">
                                                <div class="col-12 order-xl-2 text-center text-xl-left">
                                                    <h3 class="mt-2 mb-0 text-primary"><small>Jane Doe</small></h3>
                                                    <p><small><i>Position of Company Name</i></small></p>
                                                </div>
                                                <div class="col-12 order-xl-1">
                                                    <q class="mb-4 mb-xl-0">Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Cras scelerisque fermentum tellus, ac vulputate est consectetur sed. Nam consectetur cursus vulputate. Nam vel mauris sit amet tortor mattis luctus id ac dui. Fusce sed commodo purus. Ut nec mollis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</q>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                                <div class="card-body p-xl-5 d-xl-flex">
                                    <div class="row align-items-xl-center">
                                        <div class="col-xl-4 text-center">
                                            <img class="rounded-circle" src="https://via.placeholder.com/250/e9ecef/000/?text=placeholder" rel="noreferrer" alt="Placeholder" title="Placeholder" />
                                        </div>
                                        <div class="col-xl-8">
                                            <div class="row">
                                                <div class="col-12 order-xl-2 text-center text-xl-left">
                                                    <h3 class="mt-2 mb-0 text-primary"><small>John Doe</small></h3>
                                                    <p><small><i>Position of Company Name</i></small></p>
                                                </div>
                                                <div class="col-12 order-xl-1">
                                                    <q class="mb-4 mb-xl-0">Nam consectetur cursus vulputate. Nam vel mauris sit amet tortor mattis luctus id ac dui. Fusce sed commodo purus. Ut nec mollis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</q>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
                        <span class="fas fa-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next">
                        <span class="fas fa-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer bg-white border-top">
<script type="text/plain" class="language-markup">
<div class="row">
    <div class="col-lg-10 mx-auto">
        <div id="testimonialCarousel" class="carousel slide carousel-fade text-dark testimonial-carousel">
            <ol class="carousel-indicators">
                <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#testimonialCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card">
                        <div class="card-body p-xl-5 d-xl-flex">
                            <div class="row align-items-xl-center">
                                <div class="col-xl-4 text-center">
                                    <img class="rounded-circle" src="https://via.placeholder.com/250/e9ecef/000/?text=placeholder" rel="noreferrer" alt="Placeholder" title="Placeholder" />
                                </div>
                                <div class="col-xl-8">
                                    <div class="row">
                                        <div class="col-12 order-xl-2 text-center text-xl-left">
                                            <h3 class="mt-2 mb-0 text-primary"><small>Jane Doe</small></h3>
                                            <p><small><i>Position of Company Name</i></small></p>
                                        </div>
                                        <div class="col-12 order-xl-1">
                                            <q class="mb-4 mb-xl-0">Suspendisse non consequat nulla. Duis accumsan, nibh quis sagittis feugiat, metus purus commodo erat, ac condimentum tortor ex in purus. Cras scelerisque fermentum tellus, ac vulputate est consectetur sed. Nam consectetur cursus vulputate. Nam vel mauris sit amet tortor mattis luctus id ac dui. Fusce sed commodo purus. Ut nec mollis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</q>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-body p-xl-5 d-xl-flex">
                            <div class="row align-items-xl-center">
                                <div class="col-xl-4 text-center">
                                    <img class="rounded-circle" src="https://via.placeholder.com/250/e9ecef/000/?text=placeholder" rel="noreferrer" alt="Placeholder" title="Placeholder" />
                                </div>
                                <div class="col-xl-8">
                                    <div class="row">
                                        <div class="col-12 order-xl-2 text-center text-xl-left">
                                            <h3 class="mt-2 mb-0 text-primary"><small>John Doe</small></h3>
                                            <p><small><i>Position of Company Name</i></small></p>
                                        </div>
                                        <div class="col-12 order-xl-1">
                                            <q class="mb-4 mb-xl-0">Nam consectetur cursus vulputate. Nam vel mauris sit amet tortor mattis luctus id ac dui. Fusce sed commodo purus. Ut nec mollis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</q>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
                <span class="fas fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next">
                <span class="fas fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
</script>
    </div>
</div>