@model IEnumerable<ResourceViewModel>
@{
    ViewBag.Title = "Testimonials";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Scripts");
}

@section ExtraHeaders {
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
}

<section class="py-3 py-lg-5">
    <div class="container">
         @Html.Partial("~/Views/Resources/_BreadCrumbs.cshtml")
        <div class="row shuffle">
            @Html.Partial("~/Views/Pages/_WrittenTestimonials.cshtml")
        </div>
    </div>
</section>