<nav class="navbar bg-white border-bottom d-none d-sm-flex">
    <ul>
        <li>
            <a href="#benefits">
                <span class="fas fa-hand-holding-heart" alt="C4B Benefits"></span>
                <span>Benefits</span>
            </a>
        </li>
        <li>
            <a href="#features">
                <span class="fas fa-trophy" alt="C4B Features"></span>
                <span>Features</span>
            </a>
        </li>
        <li>
            <a href="#pricing">
                <span class="fas fa-credit-card" alt="C4B Pricing"></span>
                <span>Pricing</span>
            </a>
        </li>
        <li class="align-items-center">
            <a class="btn btn-primary" href="@Url.RouteUrl(RouteName.ContactTrial)">
                <span>Start Free Trial</span>
            </a>
        </li>
    </ul>
</nav>