<div class="cookies-popup alert bg-primary alert-dismissible fade show text-center mb-0 p-2 border-top" role="alert" aria-atomic="true">
    <strong>Chocolatey.org uses cookies to enhance the user experience of the site.</strong>
    <button type="button" class="btn btn-light btn-sm cookies-close d-none d-sm-inline-block" data-dismiss="alert" aria-label="Close">
        I accept
    </button>
    <button type="button" class="btn btn-light cookies-close d-sm-none" data-dismiss="alert" aria-label="Close">
        I accept
    </button>
</div>