<section id="mc_embed_signup" class="container-fluid bg-medium py-2">
    <form action="//chocolatey.us8.list-manage.com/subscribe/post?u=86a6d80146a0da7f2223712e4&amp;id=73b018498d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="form-row align-items-center justify-content-center">
            <div class="col-12 col-md-auto text-center text-md-left">
                <h3 class="mb-0">Signup for the Newsletter!</h3>
            </div>
            <div class="col-12 col-md-3">
                <input type="email" title="Email Address for Newsletter" class="form-control email mt-2 mt-md-0" id="mce-EMAIL" placeholder="Your e-mail address" value="" name="EMAIL" required>
            </div>
            <div style="position: absolute; left: -5000px;">
                <input title="Invisible Field" type="text" name="b_86a6d80146a0da7f2223712e4_73b018498d" tabindex="-1" value="">
            </div>
            <div class="col-12 col-md-auto">
                <button type="submit" class="btn btn-light col-12 mt-2 mt-md-0" id="mc-embedded-subscribe"><strong>Subscribe</strong></button>
            </div>
        </div>
        <div class="form-row text-center mt-1 mt-md-0">
            <div class="col-12">
                <p class="mb-0"><i>Be the first to know about upcoming features, security releases, and news about Chocolatey.</i></p>
            </div>
        </div>
    </form>
</section>