<nav class="navbar bg-white border-bottom d-none d-sm-flex">
    <div class="container">
        <ul class="d-flex">
            <li class="d-sm-flex align-items-center">
                <span class="status status-sm bg-success"></span>
                <small>Passing</small>
            </li>
            <li class="d-sm-flex align-items-center">
                <span class="status status-sm bg-danger"></span>
                <small>Failing</small>
            </li>
            <li class="d-sm-flex align-items-center">
                <span class="status status-sm bg-warning"></span>
                <small>Pending</small>
            </li>
            <li class="d-sm-flex align-items-center">
                <span class="status status-sm bg-secondary"></span>
                <small>Unknown / Exempted</small>
            </li>
        </ul>
    </div>
</nav>