.vs/
_ReSharper*
bin
obj
*.user
*.suo
App_Data
*.results.xml
/packages
/chocolatey/Website/cassette-cache/
/chocolatey/Website/Content/packageimages
/chocolatey/Website/Content/dist
/chocolatey/Website/node_modules
/chocolatey/Website/chocolatey-styleguide.zip
snags/
_AzurePackage
*.sln.docstates
*.bak

.DS_Store
Thumbs.db
TestResults

UpgradeLog*.htm

tools/**
!tools/packages.config
BuildArtifacts