<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="RequestReduce" type="RequestReduce.Configuration.RequestReduceConfigSection, RequestReduce" requirePermission="false" />
    <section name="cassette" type="Cassette.CassetteConfigurationSection, Cassette" requirePermission="false" />
    <sectionGroup name="enyim.com">
      <section name="log" type="Enyim.Caching.Configuration.LoggerSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- https://docs.microsoft.com/en-us/aspnet/whitepapers/mvc3-release-notes#0.1__Toc274034230 -
         there is a known issue that causes Forms Authentication to always redirect
         to /Account/Login, ignoring what is set in web.config authentication
    -->
    <add key="autoFormsAuthentication" value="false" />
    <add key="enableSimpleMembership" value="false" />
    <!-- AppHarbor Setting to stop AppHb load balancer internal port numbers from showing up in URLs-->
    <add key="aspnet:UseHostHeaderForRequestUrl" value="true" />
    <add key="reCAPTCHA::PublicKey" value="" />
    <add key="reCAPTCHA::PrivateKey" value="" />
    <add key="Gallery:GalleryOwnerName" value="Chocolatey.org - Local" />
    <add key="Gallery:GalleryOwnerEmail" value="nobody@nowhere.com" />
    <add key="Gallery:ConfirmEmailAddresses" value="false" />
    <add key="Gallery:S3Bucket" value="" />
    <add key="Gallery:PackagesUrl" value="" />
    <add key="Gallery:S3AccessKey" value="" />
    <add key="Gallery:S3SecretKey" value="" />
    <add key="Gallery:AzureStorageAccessKey" value="" />
    <add key="Gallery:AzureStorageAccountName" value="" />
    <add key="Gallery:AzureStorageBlobUrl" value="" />
    <add key="Gallery:AzureCdnHost" value="" />
    <add key="Gallery:GoogleAnalyticsPropertyId" value="" />
    <add key="Gallery:PackageStoreType" value="FileSystem" />
    <add key="Gallery:PackageStatisticsStoreType" value="Database" />
    <add key="Gallery:SqsServiceUrl" value="" />
    <add key="Gallery:SiteRoot" value="https://chocolatey.org/" />
    <add key="Gallery:UseSmtp" value="false" />
    <add key="Gallery:SmtpHost" value="localhost" />
    <add key="Gallery:SmtpPort" value="25" />
    <add key="Gallery:SmtpUsername" value="" />
    <add key="Gallery:SmtpPassword" value="" />
    <add key="Gallery:SmtpEnableSsl" value="false" />

    <add key="Gallery:ModeratorEmail" value="nobody@nowhere.com" />
    <add key="Gallery:ContactUsEmail" value="nobody@nowhere.com" />
    <add key="Gallery:PackageFileTextExtensions" value="ps1,psm1,psd1,txt,md,cmd,config,conf,bat,sh,json,js,xml,xdt,ini,iss,ahk,au3,sql,conf,vbs,inf,nuspec,template,reg,cs,manifest,csv" />
    <add key="Gallery:PackageFileChecksumExtensions" value="exe,7z,zip,msi,dll,gz,rar,ttf,so,msp,mst,msu,sfx,iso,vsix,msix,msixbundle,appx,appxbundle,tar,xz,bz2,zst,pyc,pyo,pyd,pyz,pywz,bin" />
    <add key="Gallery:UseCaching" value="true" />
    <add key="Gallery:HostImages" value="true" />
    <add key="Gallery:PackageOperationsUserKey" value="0" />
    <add key="Gallery:ScanResultsKey" value="12345" />
    <add key="Gallery:IndexContainsAllVersions" value="true" />
    <add key="Gallery:StudentDiscount" value="https://somewhere.com" />
    
    <add key="Gallery:UseBackgroundJobsDatabaseUser" value="false" />
    <add key="Gallery:BackgroundJobsDatabaseUserId" value="" />
    <add key="Gallery:BackgroundJobsDatabaseUserPassword" value="" />

    <add key="ForceSSL" value="false" />
    <add key="DisqusShortname" value="chocolatey-local" />
    <add key="EnablePackageStatisticsBackgroundJob" value="false" />
    <add key="EnableWorkItemsBackgroundJob" value="false" />

    <add key="Enyim.Caching.Diagnostics.LogPath" value="c:\enyimcaching.log" />
    <add key="Cache.IsCacheEnabled" value="true" />
    <add key="Cache.IsCacheDependencyManagementEnabled" value="false" />
    <add key="Cache.CacheToUse" value="memory" />
    <add key="Cache.DistributedCacheServers" value="127.0.0.1:11211" />
    <add key="Cache.CacheSpecificData" value="MinPoolSize=10;MaxPoolSize=30" />
    <add key="appharbor.commit_id" value="e6d26435a78649505303f2c2fd948a4c7601003e" />
    <add key="appharbor.worker_name" value="web1" />
  </appSettings>
  <connectionStrings>
    <add name="NuGetGallery" connectionString="Data Source=(local)\SQLExpress;Initial Catalog=NuGetGallery;Integrated Security=SSPI;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <elmah>
    <security allowRemoteAccess="true" />
    <errorFilter>
      <test>
        <equal binding="HttpStatusCode" value="404" type="Int32" />
      </test>
    </errorFilter>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="NuGetGallery" />
  </elmah>
  <!-- Ensure only Admins may access elmah.axd -->
  <location path="elmah.axd">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <authorization>
        <allow roles="Admins" />
        <deny users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <!-- Allow some very specific set of name to be used with the ~/package and ~/api/vX/package/ routes -->
  <location path="packages">
    <system.web>
      <httpHandlers configSource="Web.ForbiddenHandlers.config" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <fileExtensions allowUnlisted="true">
            <remove fileExtension=".config" />
            <remove fileExtension=".rules" />
            <remove fileExtension=".resources" />
          </fileExtensions>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="api/v1/package">
    <system.web>
      <httpHandlers configSource="Web.ForbiddenHandlers.config" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <fileExtensions allowUnlisted="true">
            <remove fileExtension=".config" />
            <remove fileExtension=".rules" />
            <remove fileExtension=".resources" />
          </fileExtensions>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="api/v2/package">
    <system.web>
      <httpHandlers configSource="Web.ForbiddenHandlers.config" />
      <httpRuntime executionTimeout="2700" maxRequestLength="2000000000" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="367001600" />
          <fileExtensions allowUnlisted="true">
            <remove fileExtension=".config" />
            <remove fileExtension=".rules" />
            <remove fileExtension=".resources" />
          </fileExtensions>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="api/v2/submitted">
    <system.web>
      <httpHandlers configSource="Web.ForbiddenHandlers.config" />
      <httpRuntime executionTimeout="300" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <fileExtensions allowUnlisted="true">
            <remove fileExtension=".config" />
            <remove fileExtension=".rules" />
            <remove fileExtension=".resources" />
          </fileExtensions>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="api/v2/test">
    <system.web>
      <httpHandlers configSource="Web.ForbiddenHandlers.config" />
      <httpRuntime executionTimeout="300" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <fileExtensions allowUnlisted="true">
            <remove fileExtension=".config" />
            <remove fileExtension=".rules" />
            <remove fileExtension=".resources" />
          </fileExtensions>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name=".ChocolateyGalleryAuthentication" loginUrl="~/Users/Account/LogOn" timeout="4320" slidingExpiration="true" cookieless="UseCookies" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Cassette.Views" />
      </namespaces>
    </pages>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Cache_2Hours" duration="7200" varyByParam="none" location="Any" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <httpRuntime maxQueryStringLength="12000" maxRequestLength="2000000000" requestPathInvalidCharacters="&lt;,&gt;,*,%,:,\,?" />
    <httpModules>
      <remove name="Session" />
      <remove name="WindowsAuthentication" />
      <remove name="PassportAuthentication" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" />
    </httpModules>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Errors/error.html">
      <error statusCode="404" redirect="~/Errors/404" />
    </customErrors>
    <sessionState mode="Off" />
    <httpHandlers>
      <add path="cassette.axd" verb="*" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <!--remove name="AspNetAppHarborIntegration" />
      <add name="AspNetAppHarborIntegration" type="NuGetGallery.AppHarborModule" /-->
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/Errors/404" responseMode="ExecuteURL" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" path="/Errors/Error.html" responseMode="ExecuteURL" />
    </httpErrors>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="12000" />
      </requestFiltering>
    </security>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/atom+xml;charset=utf-8" enabled="true" />
        <add mimeType="application/svg+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/atom+xml;charset=utf-8" enabled="true" />
        <add mimeType="application/svg+xml" enabled="true" />
        <add mimeType="video/mp4" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="false" />
    <staticContent>
      <clientCache cacheControlMaxAge="7.00:00:00" cacheControlMode="UseMaxAge" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".ps1" />
      <mimeMap fileExtension=".ps1" mimeType="text/plain" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
    </staticContent>
    <caching enabled="true" enableKernelCache="false">
      <profiles>
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client" />
        <add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client" />
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client" />
      </profiles>
    </caching>
    <handlers>
      <add name="CassetteHttpHandler" path="cassette.axd" preCondition="integratedMode" verb="*" allowPathInfo="true" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" />
    </handlers>
    <!-- X-Frame-Options header for IIS -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="deny" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RouteMagic" publicKeyToken="84b59be021aa4cee" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.2.2.2" newVersion="0.2.2.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <!--false concatenates scripts-->
  <cassette debug="false" rewriteHtml="true" cacheDirectory="App_Data\cassette-cache" />
  <enyim.com>
    <!--<log factory="Enyim.Caching.DiagnosticsLogFactory, Enyim.Caching" />-->
    <log factory="Enyim.Caching.Log4NetFactory, Enyim.Caching.Log4NetAdapter" />
  </enyim.com>
</configuration>