@using NuGetGallery;
@model CourseViewModel

<div class="container py-xl-5">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="d-flex flex-row align-items-center">
                <img width="50" src="@CourseConstants.GetBadgeUrl(Model.CourseNameType)" alt="@Model.CourseName" />
                <span class="ml-2">@Model.CourseName</span>
            </h2>
            <p class="text-muted">10 Topics | 1.5 Hours | <span class="level intermediate">Intermediate</span></p>
            <p>Learn everything you need to know about creating your first Chocolatey Package.</p>
        </div>
        <div class="col-lg-6 course-home">
            @Html.Partial("~/Views/Courses/_LeftSideColumn.cshtml", new CourseLeftViewModel() { CourseNameType = Model.CourseNameType, CourseModules = Model.CourseModules, UserCourseAchievements = Model.UserCourseAchievements })
        </div>
    </div>
</div>