<div id="quiz" class="callout-danger bg-light mt-3">
    <p><span class="font-weight-bold text-danger">You must be logged in to take this test.</span> Don't have an account yet? <a class="" href="@Url.Action(MVC.Users.Register())">Register Now</a></p>
    <a class="btn btn-secondary" href="@Url.LogOn()">Log On<span class="fas fa-angle-right"></span></a>
</div>