<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IsDebugMode" value="false" />
    <!-- Use token or username/password -->
    <add key="GitHub.Token" value="" />
    <add key="GitHub.UserName" value="" />
    <add key="GitHub.Password" value="" />
  </appSettings>
</configuration>